nav {
    background-color: black; /* cor de fundo */
    height: 15vh;/* altura */
    width: 100vw;/* largura */
    position: fixed;/* posição fixa */
    transition-duration: 1.8s;/* duração da transição */
    right: 0; /* distancia do lado direito */
    z-index: 999; /* traz o elemento para frente */
}
#hamburguer {
    float: left; /* faz com que o elemento flutue na esquerda */
    color: white; /* cor da fonte */
    font-size: 6vh; /* tamanho da fonte */
    padding: 3%;/* margem interna */
    position: relative;/* posição relativa ao elemento pai */
    top: 50%;/* distancia do topo */
    transform: translateY(-50%); /* reposiciona o elemento veticalmente */
    transition-duration: 1.8s; /* duração da transição */
    user-select: none;/* impede o usuario de selecionar */
}
.logoavengers {
    position: absolute;/* posição absolute */
    height: 15vh ;/* altura */
    top: 0 ;/* distancia em relação ao topo */
    bottom: 0 ;/* distancia em relação ao lado inferior */
    right: 0 ;/* distancia em relação ao  lado direito */
    left: 0 ;/* distancia em relação ao  lado esquerdo */
    margin: auto ;/* centraliza */
    transition: left 1.8s ;/* duração da transição */
}
#menu {
    z-index: 1000; /* traz o elemento para frente */
    border-top-right-radius: 2%;/* arredonda a borda direita superior */
    position: absolute;/* posição absoluta */
    left: -25vw;/* distancia em relação ao lado esquerdo */
    width: 25vw;/* largura */
    height: 100vh;/* altura */
    background-color: black;/* cor de fundo */
    transition: 1.1s;/* duração da transição */
    background-image: url('../../img/personagens/fundomenu.png');/* imagem de fundo */
    position: fixed;/* define a posiçaõ como fixa */
}
#menu ul {
    padding-top: 15vh;/* margem interior superior */
}
#menu ul li {
    list-style: none;/* retira o estilo de lista */
    padding: 5vh;/* margem interior superior */
    width: 100%;/* largura */
}
.link {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;/* tipo da fonte */
    display: block;/* define o display como bloco */
    text-align: center;/* centraliza o texto  */
    color: white;/* cor da fonte */
    text-decoration: none;/* decoração do texto */
    font-size: 1.5vw;/* tamanho da fonte */
}
.link:hover {
    color: rgb(255, 32, 32)/* cor da fonte */
}
#close {
    float: right;/* faz com que o elemento flutue na direita */
    position: relative;/* posição absoluta */
    top: 0;/* distancia em relação ao topo */
    right: 0;/* distancia em relação ao  lado direito */
    padding: 4vh;/* margem interior */
    color: white;/* cor da fonte */
    font-size: 4vh;/* tamanho da fonte */
    z-index: 999;/* traz o elemento para frente */
    user-select: none;/* impede que o usuario selecione */
}
#close:hover {
    color: rgb(253, 36, 36)/* cor da fonte */
}
