* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: black;
    height: 15vh;
    width: 100vw;
    position: fixed;
    transition-duration: 1.8s;
    right: 0;
}
#hamburguer {
    float: left;
    color: white;
    font-size: 6vh;
    padding: 3%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition-duration: 1.8s;
    user-select: none;
}
.logoavengers {
    position: absolute !important;
    height: 15vh !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
    margin: auto !important;
    transition: left 1.8s !important;
}
#menu {
    border-top-right-radius: 2%;
    position: absolute;
    left: -25vw;
    width: 25vw;
    height: 100vh;
    background-color: black;
    transition: 1.1s;
    background-image: url('../../img/personagens/fundomenu.png');
    position: fixed;
}
#menu ul {
    padding-top: 15vh;
}
#menu ul li {
    list-style: none;
    padding: 5vh;
    width: 100%;
}
.link {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
}
.link:hover {
    color: rgb(255, 32, 32)
}
#close {
    float: right;
    position: relative;
    top: 0;
    right: 0;
    padding: 4vh;
    color: white;
    font-size: 4vh;
    z-index: 999;
    user-select: none;
}
#close:hover {
    color: rgb(253, 36, 36)
}
@media screen and (max-width: 1470px) {
    #menu {
        width: 50vw;
        left: -50vw;
    }
    .link {
        font-size: 2.2vw;
    }
  }
  @media screen and (max-width: 610px) {
    #menu {
        width: 100vw;
        left: -100vw;
    }
    .link {
        font-size: 5vw;
    }
  }