@import url('http://fonts.cdnfonts.com/css/lovelo?styles=25962');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Open+Sans:wght@300&family=PT+Sans+Caption&family=Roboto&family=Sarabun:wght@500&display=swap');
/*importa as fontes*/


.imgum{
    width: 250px;
    height: 370px;
}

.img2{
    width: 250px;
    height: 370px;
}

.img3{
    width: 250px;
    height: 370px;
}

.img4{
    width: 250px;
    height: 370px;
}

.simbolo_rodape_img{
    width: 75px;
    height: 75px;
}
/*ajusta o tamanho das imagens*/


@media (min-width: 826px) and (max-width: 1100px){

    .chamada{
        background-image: url('../../img/index/Background-opacity10-avengers.png'); /*coloca uma imagem como fundo*/
        padding-bottom: 225px; /*configura o tamanho da borda interior*/
        display: block; /*faz o elemento preencher toda a linha*/
    }

    .curiosidades{
        text-align: center; /*alinha o texto no centro*/
        color: rgb(197, 14, 14); /*determina a cor do texto*/
        padding-top: 30px; /*determina a borda interior do topo*/
        font-size: 40px; /*determina o tamanho da fonte*/
    }
    
    .text_curiosidades{
        width: 75vw; /*determina a largura do elemento selecionado*/
        margin:0 auto; /*determina o alinhamento da margem*/
        font-size: 20px; 
        text-align: center;
        text-align: justify; /*justifica o texto*/
    }

    .barra_diagonal{
        background-color: red; /*determina a cor do fundo*/
        color: red;
        display: block;
        margin-top: -75px; /*defina a margem do topo*/
        transform: skewY(-2deg); /*cria uma barra na diagonal*/
        opacity: 60%; /*determina a opacidade*/
        padding-bottom: 35px; /*determina a margem interior da parte inferior*/
        padding-top: 30px; /*determina a margem interior do topo*/
    }

    .ajuste_barra_diagonal{
        background-color: rgb(10, 10, 10); /*determina a cor do fundo*/
        transform: skewY(-2deg);
        padding-top: 20px;
        padding-bottom: 55px;
        margin-top:-25px;
    }

    /*-----------------------------------*/

    .avengers{
        color: white;
        font-size: 40px;
        text-align: center;
    }
    
    .figure1{
        width: 40vw;
        float: left; /*deixa o item determinado como flutuante para a esquerda*/
    }

    .imgum{
        margin:0 auto;
        float: right; /*deixa o item determinado como flutuante para a direita*/
        margin-right: 6vw; /*determina a margem da direita*/
        transform: scale(1.1); /*tranforma a escala*/
        padding-bottom: 50px; 
        margin-top: 25px;
    }

    .imgum:hover{
        margin:0 auto;
        float: right;
        margin-right: 4vw;
        transform: scale(1.35);
	    transition: 0.3s; /*determina o tempo de transição do hover*/
        padding-bottom: 50px;
        margin-top: 25px;
    }

    .sinopse{
        color: white;
        text-align: center;
        margin-top: -70px;
        font-size: 25px;
        display: inline-block; /*faz um bloco em linha*/
    }

    .text_sinopse{
        text-align: justify;
        width: 85%;
        margin:0 auto;
        line-height: 30px; /*determina o distanciamento das linhas*/
        color: white;
        margin-bottom: 12VW;
        font-size: 18px;
    }

    /*-----------------------------------*/

    .chamada2{
        background-image: url('../../img/index/Background-opacity10-avengers.png');
        padding-bottom: 225px;
        display: block;
    }

    .curiosidades2{
        text-align: center;
        color: blue;
        padding-top: 30px;
        font-size: 40px;
    }
    
    .text_curiosidades2{
        width: 75vw;
        margin:0 auto;
        font-size: 20px;
        text-align: center;
        text-align: justify;
    }

    .barra_diagonal2{
        background-color: blue;
        color: blue;
        display: block;
        margin-top: -75px;
        transform: skewY(3deg);
        opacity: 60%;
        padding-bottom: 35px;
        padding-top: 30px;
    }

    .ajuste_barra_diagonal2{
        background-color: rgb(10, 10, 10);
        transform: skewY(2deg);
        padding-top: 20px;
        padding-bottom: 55px;
        margin-top:-25px;
    }

    /*-----------------------------------*/

    .avengers2{
        color: white;
        font-size: 40px;
        text-align: center;
        line-height: 5px;
    }

    .sub_avengers2{
        color: white;
        font-size: 40px;
        text-align: center;
    }
    
    .figure2{
        width: 40vw;
        float: left;
    }

    .img2{
        margin:0 auto;
        float: right;
        margin-right: 6vw;
        transform: scale(1.1);
        padding-bottom: 50px;
        margin-top: 25px;
    }

    .img2:hover{
        margin:0 auto;
        float: right;
        margin-right: 4vw;
        transform: scale(1.35);
	    transition: 0.3s;
        padding-bottom: 50px;
        margin-top: 40px;
    }


    .sinopse2{
        color: white;
        text-align: center;
        margin-top: px;
        font-size: 25px;
        display: inline-block;
    }

    .text_sinopse2{
        text-align: justify;
        width: 85%;
        margin:0 auto;
        line-height: 30px;
        color: white;
        margin-bottom: 16VW;
        font-size: 18px;
    }

    /*-----------------------------------*/

    .chamada3{
        background-image: url('../../img/index/Background-opacity10-avengers.png');
        padding-bottom: 225px;
        display: block;
    }

    .curiosidades3{
        text-align: center;
        color: purple;
        padding-top: 30px;
        font-size: 40px;
    }
    
    .text_curiosidades3{
        width: 75vw;
        margin:0 auto;
        font-size: 20px;
        text-align: center;
        text-align: justify;
    }

    .barra_diagonal3{
        background-color: purple;
        color: purple;
        display: block;
        margin-top: -75px;
        transform: skewY(-3deg);
        opacity: 60%;
        padding-bottom: 35px;
        padding-top: 30px;
    }

    .ajuste_barra_diagonal3{
        background-color: rgb(10, 10, 10);
        transform: skewY(-2deg);
        padding-top: 20px;
        padding-bottom: 55px;
        margin-top:-25px;
    }

    /*-----------------------------------*/

    .avengers3{
        color: white;
        font-size: 40px;
        text-align: center;
        line-height: 5px;
    }

    .sub_avengers3{
        color: white;
        font-size: 40px;
        text-align: center;
    }
    
    .figure3{
        width: 40vw;
        float: left;
    }

    .img3{
        margin:0 auto;
        float: right;
        margin-right: 6vw;
        transform: scale(1.1);
        padding-bottom: 50px;
        margin-top: 25px;
    }

    .img3:hover{
        margin:0 auto;
        float: right;
        margin-right: 4vw;
        transform: scale(1.35);
	    transition: 0.3s;
        padding-bottom: 50px;
        margin-top: 25px;
    }


    .sinopse3{
        color: white;
        text-align: center;
        margin-top: px;
        font-size: 25px;
        display: inline-block;
    }

    .text_sinopse3{
        text-align: justify;
        width: 85%;
        margin:0 auto;
        line-height: 30px;
        color: white;
        margin-bottom: 24VW;
        font-size: 18px;
    }

    /*-----------------------------------*/

    .chamada4{
        background-image: url('../../img/index/Background-opacity10-avengers.png');
        padding-bottom: 225px;
        display: block;
    }

    .curiosidades4{
        text-align: center;
        color: rgb(10, 116, 10);
        padding-top: 30px;
        font-size: 40px;
    }
    
    .text_curiosidades4{
        width: 75vw;
        margin:0 auto;
        font-size: 20px;
        text-align: center;
        text-align: justify;
    }

    .barra_diagonal4{
        background-color: rgb(10, 116, 10);
        color: rgb(10, 116, 10);
        display: block;
        margin-top: -75px;
        transform: skewY(2deg);
        opacity: 60%;
        padding-bottom: 35px;
        padding-top: 30px;
    }

    .ajuste_barra_diagonal4{
        background-color: rgb(10, 10, 10);
        transform: skewY(4deg);
        padding-top: 20px;
        padding-bottom: 55px;
        margin-top:-25px;
    }

    /*-----------------------------------*/

    .avengers4{
        color: white;
        font-size: 40px;
        text-align: center;
        line-height: 5px;
    }

    .sub_avengers4{
        color: white;
        font-size: 40px;
        text-align: center;
    }
    
    .figure4{
        width: 40vw;
        float: left;
    }

    .img4{
        margin:0 auto;
        float: right;
        margin-right: 6vw;
        transform: scale(1.1);
        padding-bottom: 50px;
        margin-top: 25px;
    }

    .img4:hover{
        margin:0 auto;
        float: right;
        margin-right: 4vw;
        transform: scale(1.35);
	    transition: 0.3s;
        padding-bottom: 50px;
        margin-top: 30px;
    }


    .sinopse4{
        color: white;
        text-align: center;
        margin-top: px;
        font-size: 25px;
        display: inline-block;
    }

    .text_sinopse4{
        text-align: justify;
        width: 85%;
        margin:0 auto;
        line-height: 30px;
        color: white;
        margin-bottom: 23VW;
        font-size: 18px;
    }

    /*-----------------------------------*/

    .chamada5{
        background-image: url('../../img/index/Background-opacity10-avengers.png');
        padding-bottom: 225px;
        display: block;
    }

    .curiosidades5{
        text-align: center;
        color: rgb(172, 22, 172);
        padding-top: 30px;
        font-size: 40px;
    }
    
    .text_curiosidades5{
        width: 75vw;
        margin:0 auto;
        font-size: 20px;
        text-align: center;
        text-align: justify;
    }

    .barra_diagonal5{
        background-color: rgb(172, 22, 172);
        color: rgb(172, 22, 172);
        display: block;
        margin-top: -75px;
        transform: skewY(-3deg);
        opacity: 60%;
        padding-bottom: 35px;
        padding-top: 30px;
    }

    .ajuste_barra_diagonal5{
        background-color: rgb(10, 10, 10);
        transform: skewY(-2deg);
        padding-top: 20px;
        padding-bottom: 55px;
        margin-top:-25px;
    }

    .simbolo_rodape_img{
        display: none; /*deixa invisivel o item selecionado*/
    }
}

    
    
    /*-----------------------------------*/
    /*-----------------------------------*/
    /*-----------------------------------*/
    /*-----------------------------------*/
    /*-----------------------------------*/


@media (min-width: 520px) and (max-width: 825px){
    .chamada{
        background-image: url('../../img/index/Background-opacity10-avengers.png');
        padding-bottom: 200px;
        display: block;
    }

    .curiosidades{
        text-align: center;
        color: rgb(197, 14, 14);
        padding-top: 30px;
        font-size: 40px;
    }
    
    .text_curiosidades{
        text-align: center;
        margin:0 auto;
        width: 75vw;
        font-size: 20px;
        text-align: justify;
    }

    .barra_diagonal{
        background-color: red;
        color: red;
        display: block;
        transform: skewY(-4deg);
        opacity: 60%;
        padding-bottom: 20px;
        padding-top: 20px;
        margin-top: -75px;
    }

    .ajuste_barra_diagonal{
        background-color: rgb(10, 10, 10);
        transform: skewY(-4deg);
        padding-bottom: 70px;
    }

    /*-----------------------------------*/

    .avengers{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-top: 50px;
    }
    
    .imgum{
        margin:0 auto;
        display: block;
        transform: scale(1.25);
        margin-top: 75px;
    }

    .imgum:hover{
        margin:0 auto;
        display: block;
        transform: scale(1.4);
        transition: 0.3s;
        margin-top: 100px;
        padding-bottom: 25px;
    }

    .sinopse{
        color: white;
        text-align: center;
        margin-top: 20px;
        font-size: 25px;
        margin-top: 10vw;
    }

    .text_sinopse{
        margin-top: 20px;
        text-align: justify;
        width: 75%;
        margin:0 auto;
        display: block;
        line-height: 20px;
        color: white;
    }

    /*-----------------------------------*/

    .chamada2{
        background-image: url('../../img/index/Background-opacity10-avengers.png');
        padding-bottom: 200px;
        display: block;
    }

    .curiosidades2{
        text-align: center;
        color: blue;
        padding-top: 30px;
        font-size: 40px;
    }
    
    .text_curiosidades2{
        text-align: center;
        margin:0 auto;
        width: 75vw;
        font-size: 20px;
        text-align: justify;
    }

    .barra_diagonal2{
        background-color: blue;
        color: blue;
        display: block;
        transform: skewY(3deg);
        opacity: 60%;
        padding-bottom: 25px;
        padding-top: 20px;
        margin-top: -75px;
    }

    .ajuste_barra_diagonal2{
        background-color: rgb(10, 10, 10);
        transform: skewY(4deg);
        padding-bottom: 50px;
        padding-top: 40px;
        margin-top: -10px;
    }

    /*-----------------------------------*/

    .avengers2{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-top: 25px;
    }

    .sub_avengers2{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-top: -15px;
    }
    
    .img2{
        margin:0 auto;
        display: block;
        transform: scale(1.25);
        margin-top: 75px;
    }

    .img2:hover{
        margin:0 auto;
        display: block;
        transform: scale(1.4);
        transition: 0.3s;
        margin-top: 100px;
        padding-bottom: 25px;
    }

    .sinopse2{
        color: white;
        text-align: center;
        margin-top: 20px;
        font-size: 25px;
        margin-top: 10vw;
    }

    .text_sinopse2{
        margin-top: 20px;
        text-align: justify;
        width: 75%;
        margin:0 auto;
        display: block;
        line-height: 20px;
        color: white;
    }

    /*-----------------------------------*/

    .chamada3{
        background-image: url('../../img/index/Background-opacity10-avengers.png');
        padding-bottom: 200px;
        display: block;
    }

    .curiosidades3{
        text-align: center;
        color: purple;
        padding-top: 30px;
        font-size: 40px;
    }
    
    .text_curiosidades3{
        text-align: center;
        margin:0 auto;
        width: 75vw;
        font-size: 20px;
        text-align: justify;
    }

    .barra_diagonal3{
        background-color: purple;
        color: purple;
        display: block;
        transform: skewY(-4deg);
        opacity: 60%;
        padding-bottom: 25px;
        padding-top: 20px;
        margin-top: -75px;
    }

    .ajuste_barra_diagonal3{
        background-color: rgb(10, 10, 10);
        transform: skewY(-3deg);
        padding-bottom: 50px;
        padding-top: 40px;
        margin-top: -10px;
    }

    /*-----------------------------------*/

    .avengers3{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-top: 25px;
    }

    .sub_avengers3{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-top: -15px;
    }
    
    .img3{
        margin:0 auto;
        display: block;
        transform: scale(1.25);
        margin-top: 75px;
    }

    .img3:hover{
        margin:0 auto;
        display: block;
        transform: scale(1.4);
        transition: 0.3s;
        margin-top: 100px;
        padding-bottom: 25px;
    }

    .sinopse3{
        color: white;
        text-align: center;
        margin-top: 20px;
        font-size: 25px;
        margin-top: 10vw;
    }

    .text_sinopse3{
        margin-top: 20px;
        text-align: justify;
        width: 75%;
        margin:0 auto;
        display: block;
        line-height: 20px;
        color: white;
    }

    /*-----------------------------------*/

    .chamada4{
        background-image: url('../../img/index/Background-opacity10-avengers.png');
        padding-bottom: 200px;
        display: block;
    }

    .curiosidades4{
        text-align: center;
        color: rgb(10, 116, 10);
        padding-top: 30px;
        font-size: 40px;
    }
    
    .text_curiosidades4{
        text-align: center;
        margin:0 auto;
        width: 75vw;
        font-size: 20px;
        text-align: justify;
    }

    .barra_diagonal4{
        background-color: rgb(10, 116, 10);
        color: rgb(10, 116, 10);
        display: block;
        transform: skewY(3deg);
        opacity: 60%;
        padding-bottom: 25px;
        padding-top: 20px;
        margin-top: -75px;
    }

    .ajuste_barra_diagonal4{
        background-color: rgb(10, 10, 10);
        transform: skewY(4deg);
        padding-bottom: 50px;
        padding-top: 40px;
        margin-top: -10px;
    }

    /*-----------------------------------*/

    .avengers4{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-top: 25px;
    }

    .sub_avengers4{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-top: -15px;
    }
    
    .img4{
        margin:0 auto;
        display: block;
        transform: scale(1.25);
        margin-top: 75px;
    }

    .img4:hover{
        margin:0 auto;
        display: block;
        transform: scale(1.4);
        transition: 0.3s;
        margin-top: 100px;
        padding-bottom: 25px;
    }

    .sinopse4{
        color: white;
        text-align: center;
        margin-top: 20px;
        font-size: 25px;
        margin-top: 10vw;
    }

    .text_sinopse4{
        margin-top: 20px;
        text-align: justify;
        width: 75%;
        margin:0 auto;
        display: block;
        line-height: 20px;
        color: white;
    }
    /*-----------------------------------*/

    .chamada5{
        background-image: url('../../img/index/Background-opacity10-avengers.png');
        padding-bottom: 200px;
        display: block;
    }

    .curiosidades5{
        text-align: center;
        color: rgb(172, 22, 172);
        padding-top: 30px;
        font-size: 40px;
    }
    
    .text_curiosidades5{
        text-align: center;
        margin:0 auto;
        width: 75vw;
        font-size: 20px;
        text-align: justify;
    }

    .barra_diagonal5{
        background-color: rgb(172, 22, 172);
        color: rgb(172, 22, 172);
        display: block;
        transform: skewY(-3deg);
        opacity: 60%;
        padding-bottom: 25px;
        padding-top: 20px;
        margin-top: -75px;
    }

    .ajuste_barra_diagonal5{
        background-color: rgb(10, 10, 10);
        transform: skewY(-4deg);
        padding-bottom: 50px;
        padding-top: 40px;
        margin-top: -10px;
    }

    .simbolo_rodape_img{
        display: none;
    }
}

    /*-----------------------------------*/
    /*-----------------------------------*/
    /*-----------------------------------*/
    /*-----------------------------------*/
    /*-----------------------------------*/


@media (min-width: 1100px){
    .chamada{
        background-image: url('../../img/index/Background-opacity10-avengers.png');
        padding-bottom: 275px;
        display: block;
    }

    .curiosidades{
        text-align: center;
        color: rgb(197, 14, 14);
        padding-top: 30px;
        font-size: 40px;
    }
    
    .text_curiosidades{
        width: 75vw;
        margin:0 auto;
        font-size: 20px;
        text-align: center;
    }

    .barra_diagonal{
        background-color: red;
        color: red;
        display: block;
        margin-top: -75px;
        transform: skewY(-2deg);
        opacity: 60%;
        padding-bottom: 35px;
        padding-top: 30px;
    }

    .ajuste_barra_diagonal{
        background-color: rgb(10, 10, 10);
        transform: skewY(-2deg);
        padding-top: 20px;
        padding-bottom: 55px;
        margin-top:-25px;
    }

    /*-----------------------------------*/

    .avengers{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-left: 35vw;
        line-height: 15px;
    }
    
    .figure1{
        width: 40vw;
        float: left;
    }

    .imgum{
        margin:0 auto;
        float: right;
        margin-right: 10vw;
        transform: scale(1.4);
        margin-top: -25px;
    }

    .imgum:hover{
        margin:0 auto;
        float: right;
        margin-right: 10vw;
        transform: scale(1.65);
        transition: 0.3s;
        margin-top: -25px;
    }

    .sinopse{
        color: white;
        text-align: center;
        margin-top: 15px;
        font-size: 25px;
        display: inline-block;
    }

    .text_sinopse{
        text-align: justify;
        width: 85%;
        margin:0 auto;
        line-height: 30px;
        color: white;
        margin-bottom: 12VW;
        margin-top: 20px;
        font-size: 18px;
    }
    
    /*-------------------------------------*/

    .chamada2{
        background-image: url('../../img/index/Background-opacity10-avengers.png');
        padding-bottom: 275px;
        display: block;
    }

    .curiosidades2{
        text-align: center;
        color: blue;
        padding-top: 30px;
        font-size: 40px;
    }
    
    .text_curiosidades2{
        width: 75vw;
        margin:0 auto;
        font-size: 20px;
        text-align: center;
    }

    .barra_diagonal2{
        background-color: blue;
        color: blue;
        display: block;
        margin-top: -95px;
        transform: skewY(3deg);
        opacity: 60%;
        padding-bottom: 35px;
        padding-top: 30px;
    }

    .ajuste_barra_diagonal2{
        background-color: rgb(10, 10, 10);
        transform: skewY(2deg);
        padding-top: 20px;
        padding-bottom: 75px;
        margin-top:-25px;
    }

    /*-----------------------------------*/

    .avengers2{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-left: 35vw;
        line-height: 25px;
    }
    
    .sub_avengers2{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-left: 35vw;
    }

    .figure2{
        width: 40vw;
        float: left;
    }

    .img2{
        margin:0 auto;
        float: right;
        margin-right: 10vw;
        transform: scale(1.4);
        margin-top: -125px;
    }

    .img2:hover{
        margin:0 auto;
        float: right;
        margin-right: 10vw;
        transform: scale(1.65);
        transition: 0.3s;
        margin-top: -125px;
    }

    .sinopse2{
        color: white;
        text-align: center;
        margin-top: 15px;
        font-size: 25px;
        display: inline-block;
    }

    .text_sinopse2{
        text-align: justify;
        width: 85%;
        margin:0 auto;
        line-height: 30px;
        color: white;
        margin-bottom: 10VW;
        margin-top: 20px;
        font-size: 18px;
    }

    /*-------------------------------------*/

    .chamada3{
        background-image: url('../../img/index/Background-opacity10-avengers.png');
        padding-bottom: 275px;
        display: block;
    }

    .curiosidades3{
        text-align: center;
        color: purple;
        padding-top: 30px;
        font-size: 40px;
    }
    
    .text_curiosidades3{
        width: 75vw;
        margin:0 auto;
        font-size: 20px;
        text-align: center;
    }

    .barra_diagonal3{
        background-color: purple;
        color: purple;
        display: block;
        margin-top: -95px;
        transform: skewY(-3deg);
        opacity: 60%;
        padding-bottom: 35px;
        padding-top: 30px;
    }

    .ajuste_barra_diagonal3{
        background-color: rgb(10, 10, 10);
        transform: skewY(-2deg);
        padding-top: 20px;
        padding-bottom: 100px;
        margin-top:-25px;
    }

    /*-----------------------------------*/

    .avengers3{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-left: 35vw;
        line-height: 25px;
    }
    
    .sub_avengers3{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-left: 35vw;
    }

    .figure3{
        width: 40vw;
        float: left;
    }

    .img3{
        margin:0 auto;
        float: right;
        margin-right: 10vw;
        transform: scale(1.4);
        margin-top: -170px;
    }

    .img3:hover{
        margin:0 auto;
        float: right;
        margin-right: 10vw;
        transform: scale(1.65);
        transition: 0.3s;
        margin-top: -170px;
    }

    .sinopse3{
        color: white;
        text-align: center;
        margin-top: 15px;
        font-size: 25px;
        display: inline-block;
    }

    .text_sinopse3{
        text-align: justify;
        width: 85%;
        margin:0 auto;
        line-height: 30px;
        color: white;
        margin-bottom: 10VW;
        margin-top: 20px;
        font-size: 18px;
    }

    /*-------------------------------------*/

    .chamada4{
        background-image: url('../../img/index/Background-opacity10-avengers.png');
        padding-bottom: 275px;
        display: block;
    }

    .curiosidades4{
        text-align: center;
        color: rgb(10, 116, 10);
        padding-top: 30px;
        font-size: 40px;
    }
    
    .text_curiosidades4{
        width: 75vw;
        margin:0 auto;
        font-size: 20px;
        text-align: center;
    }

    .barra_diagonal4{
        background-color: rgb(10, 116, 10);
        color: rgb(10, 116, 10);
        display: block;
        margin-top: -95px;
        transform: skewY(3deg);
        opacity: 60%;
        padding-bottom: 35px;
        padding-top: 30px;
    }

    .ajuste_barra_diagonal4{
        background-color: rgb(10, 10, 10);
        transform: skewY(2deg);
        padding-top: 20px;
        padding-bottom: 75px;
        margin-top:-25px;
    }

    /*-----------------------------------*/

    .avengers4{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-left: 35vw;
        line-height: 25px;
    }
    
    .sub_avengers4{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-left: 35vw;
    }

    .figure4{
        width: 40vw;
        float: left;
    }

    .img4{
        margin:0 auto;
        float: right;
        margin-right: 10vw;
        transform: scale(1.4);
        margin-top: -135px;
    }

    .img4:hover{
        margin:0 auto;
        float: right;
        margin-right: 10vw;
        transform: scale(1.65);
        transition: 0.3s;
        margin-top: -135px;
    }

    .sinopse4{
        color: white;
        text-align: center;
        margin-top: 15px;
        font-size: 25px;
        display: inline-block;
    }

    .text_sinopse4{
        text-align: justify;
        width: 85%;
        margin:0 auto;
        line-height: 30px;
        color: white;
        margin-bottom: 14VW;
        margin-top: 20px;
        font-size: 18px;
    }

    /*-------------------------------------*/

    .chamada5{
        background-image: url('../../img/index/Background-opacity10-avengers.png');
        padding-bottom: 275px;
        display: block;
    }

    .curiosidades5{
        text-align: center;
        color: rgb(172, 22, 172);
        padding-top: 30px;
        font-size: 40px;
    }
    
    .text_curiosidades5{
        width: 75vw;
        margin:0 auto;
        font-size: 20px;
        text-align: center;
    }

    .barra_diagonal5{
        background-color: rgb(172, 22, 172);
        color: rgb(172, 22, 172);
        display: block;
        margin-top: -95px;
        transform: skewY(-2deg);
        opacity: 60%;
        padding-bottom: 35px;
        padding-top: 30px;
    }

    .ajuste_barra_diagonal5{
        background-color: rgb(10, 10, 10);
        transform: skewY(-2deg);
        padding-top: 20px;
        padding-bottom: 75px;
        margin-top:-25px;
    }

    .simbolo_rodape_img{
        display: none;
    }
}


/*----------------------------------------------------*/
/*----------------------------------------------------*/
/*----------------------------------------------------*/
/*----------------------------------------------------*/
/*----------------------------------------------------*/


.avengers, .avengers2, .avengers3, .avengers4{
    font-size: 56px;
}

.sub_avengers, .sub_avengers2, .sub_avengers3, .sub_avengers4{
    font-size: 44px;
    padding-bottom: -30px;
    text-shadow: 3px 5px 3px black; /*determina a sombra do texto*/
}

.curiosidades, .curiosidades2, .curiosidades3, .curiosidades4, .curiosidades5{
    font-size: 75px;
    text-shadow: 4px 5px 1px black;
    font-weight: bold; /*deixa o texto negrito*/
}

.text_curiosidades, .text_curiosidades2, .text_curiosidades3, .text_curiosidades4, .text_curiosidades5{
    font-size: 25px;
    font-weight: bold;
}

.avengers{
    text-shadow: 2px 3px 1px red;
}

.avengers2, .sub_avengers2{
    text-shadow: 2px 3px 1px blue;
}

.avengers3, .sub_avengers3{
    text-shadow: 2px 3px 1px purple;
}

.avengers4, .sub_avengers4{
    text-shadow: 2px 3px 1px rgb(10, 116, 10);
}

/*----------------------------------------------------*/
/*----------------------------------------------------*/
/*----------------------------------------------------*/
/*----------------------------------------------------*/
/*----------------------------------------------------*/


@media (max-width: 520px){
    .chamada{
        background-image: url('../../img/index/Background-opacity10-avengers.png');
        padding-bottom: 150px;
        display: block;
    }

    .curiosidades{
        text-align: center;
        color: rgb(197, 14, 14);
        padding-top: 30px;
        font-size: 65px;
    }
    
    .text_curiosidades{
        text-align: center;
        margin:0 auto;
        width: 75vw;
        font-size: 22px;
        text-align: justify;
    }

    .barra_diagonal{
        background-color: red;
        color: red;
        display: block;
        transform: skewY(-4deg);
        opacity: 60%;
        padding-bottom: 20px;
        padding-top: 20px;
        margin-top: -75px;
    }

    .ajuste_barra_diagonal{
        background-color: rgb(10, 10, 10);
        transform: skewY(-4deg);
        padding-bottom: 70px;
    }

    /*-----------------------------------*/

    .avengers{
        color: white;
        font-size: 50px;
        text-align: center;
    }
    
    .imgum{
        margin:0 auto;
        display: block;
    }

    .imgum:hover{
        margin:0 auto;
        display: block;
        transform: scale(1.25);
        transition: 0.3s;
        margin-top: 65px;
        padding-bottom: 30px;
    }

    .sinopse{
        color: white;
        text-align: center;
        margin-top: 20px;
        font-size: 25px;
    }

    .text_sinopse{
        margin-top: 20px;
        text-align: justify;
        width: 75%;
        margin:0 auto;
        display: block;
        line-height: 20px;
        color: white;
    }
    
    /*-------------------------------------*/

    .chamada2{
        background-image: url('../../img/index/Background-opacity10-avengers.png');
        padding-bottom: 150px;
        display: block;
    }

    .curiosidades2{
        text-align: center;
        color: blue;
        padding-top: 30px;
        font-size: 50px;
    }
    
    .text_curiosidades2{
        text-align: center;
        margin:0 auto;
        width: 75vw;
        font-size: 22px;
        text-align: justify;
    }

    .barra_diagonal2{
        background-color: blue;
        color: blue;
        display: block;
        transform: skewY(3deg);
        opacity: 60%;
        padding-bottom: 35px;
        margin-bottom: -10px;
        padding-top: 20px;
        margin-top: -75px;
    }

    .ajuste_barra_diagonal2{
        background-color: rgb(10, 10, 10);
        transform: skewY(4deg);
        padding-bottom: 50px;
        margin-bottom: 20px;
    }

    /*------------------------------------*/

    .avengers2{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-top: -15px;
    }

    .sub_avengers2{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-top: -15px;
    }
    
    .img2{
        margin:0 auto;
        display: block;
    }

    .img2:hover{
        margin:0 auto;
        display: block;
        transform: scale(1.25);
        transition: 0.3s;
        padding-bottom: 30px;
        margin-top: 60px;
    }

    .sinopse2{
        color: white;
        text-align: center;
        margin-top: 20px;
        font-size: 25px;
    }

    .text_sinopse2{
        margin-top: 20px;
        text-align: justify;
        width: 75%;
        margin:0 auto;
        display: block;
        line-height: 20px;
        color: white;
    }

    /*-------------------------------------*/

    .chamada3{
        background-image: url('../../img/index/Background-opacity10-avengers.png');
        padding-bottom: 150px;
        display: block;
    }

    .curiosidades3{
        text-align: center;
        color: purple;
        padding-top: 30px;
        font-size: 40px;
    }
    
    .text_curiosidades3{
        text-align: center;
        margin:0 auto;
        width: 75vw;
        font-size: 20px;
        text-align: justify;
    }

    .barra_diagonal3{
        background-color: purple;
        color: purple;
        display: block;
        transform: skewY(-3deg);
        opacity: 60%;
        padding-bottom: 35px;
        margin-bottom: -10px;
        padding-top: 20px;
        margin-top: -75px;
    }

    .ajuste_barra_diagonal3{
        background-color: rgb(10, 10, 10);
        transform: skewY(-4deg);
        padding-bottom: 50px;
        margin-bottom: 20px;
    }

    /*------------------------------------*/

    .avengers3{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-top: -15px;
    }

    .sub_avengers3{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-top: -15px;
    }
    
    .img3{
        margin:0 auto;
        display: block;
    }

    .img3:hover{
        margin:0 auto;
        display: block;
        transform: scale(1.25);
        transition: 0.3s;
        padding-bottom: 30px;
        margin-top: 60px;
    }

    .sinopse3{
        color: white;
        text-align: center;
        margin-top: 20px;
        font-size: 25px;
    }

    .text_sinopse3{
        margin-top: 20px;
        text-align: justify;
        width: 75%;
        margin:0 auto;
        display: block;
        line-height: 20px;
        color: white;
    }

    /*-------------------------------------*/

    .chamada4{
        background-image: url('../../img/index/Background-opacity10-avengers.png');
        padding-bottom: 150px;
        display: block;
    }

    .curiosidades4{
        text-align: center;
        color: rgb(10, 116, 10);
        padding-top: 30px;
        font-size: 40px;
    }
    
    .text_curiosidades4{
        text-align: center;
        margin:0 auto;
        width: 75vw;
        font-size: 20px;
        text-align: justify;
    }

    .barra_diagonal4{
        background-color: rgb(10, 116, 10);
        color: rgb(10, 116, 10);
        display: block;
        transform: skewY(-3deg);
        opacity: 60%;
        padding-bottom: 35px;
        margin-bottom: -10px;
        padding-top: 20px;
        margin-top: -75px;
    }

    .ajuste_barra_diagonal4{
        background-color: rgb(10, 10, 10);
        transform: skewY(-4deg);
        padding-bottom: 50px;
        margin-bottom: 20px;
    }

    /*------------------------------------*/

    .avengers4{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-top: -15px;
    }

    .sub_avengers4{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-top: -15px;
    }
    
    .img4{
        margin:0 auto;
        display: block;
    }

    .img4:hover{
        margin:0 auto;
        display: block;
        transform: scale(1.25);
        transition: 0.3s;
        padding-bottom: 30px;
        margin-top: 60px;
    }

    .sinopse4{
        color: white;
        text-align: center;
        margin-top: 20px;
        font-size: 25px;
    }

    .text_sinopse4{
        margin-top: 20px;
        text-align: justify;
        width: 75%;
        margin:0 auto;
        display: block;
        line-height: 20px;
        color: white;
    }

    /*-------------------------------------*/

    .chamada5{
        background-image: url('../../img/index/Background-opacity10-avengers.png');
        padding-bottom: 150px;
        display: block;
    }

    .curiosidades5{
        text-align: center;
        color: rgb(172, 22, 172);
        padding-top: 30px;
        font-size: 40px;
    }
    
    .text_curiosidades5{
        text-align: center;
        margin:0 auto;
        width: 75vw;
        font-size: 20px;
        text-align: justify;
    }

    .barra_diagonal5{
        background-color: rgb(172, 22, 172);
        color: rgb(172, 22, 172);
        display: block;
        transform: skewY(-3deg);
        opacity: 60%;
        padding-bottom: 35px;
        margin-bottom: -10px;
        padding-top: 20px;
        margin-top: -75px;
    }

    .ajuste_barra_diagonal5{
        background-color: rgb(10, 10, 10);
        transform: skewY(-4deg);
        padding-bottom: 50px;
        margin-bottom: 20px;
    }

    .logo_rodape_img{
        display: none;
    }

    .simbolo_rodape_img:hover{
        transform: scale(1.25);
        margin-left: 2vw;
        margin-top: -2vw;
        opacity: 75%;
        transition: 0.4s;
    }
}

h1 {
    font-family: 'Lovelo', sans-serif; /*determina a fonte*/
    font-weight: bold;
}

h2{
    font-family: 'Lovelo', sans-serif;
    font-weight: bold;
}

h3{
    font-family: 'Open Sans', sans-serif;
}

p{
    font-family: 'Montserrat', sans-serif;
}

.logo_rodape_img{
    transform: scale(0.75);
}

.logo_rodape_img:visited{
    transform: scale(0.75);
}

.logo_rodape_img:hover{
    transform: scale(0.9);
    opacity: 75%;
    transition: 0.4s;
}

.yt_rodape{
    transform: scale(0.75);
}

.yt_rodape:visited{
    transform: scale(0.75);
}

.yt_rodape:hover{
    transform: scale(0.9);
    opacity: 75%;
    transition: 0.4s;
}

.fb_rodape{
    transform: scale(0.75);
}

.fb_rodape:visited{
    transform: scale(0.75);
}

.fb_rodape:hover{
    transform: scale(0.9);
    opacity: 75%;
    transition: 0.4s;
}

.insta_rodape{
    transform: scale(0.75);
}

.insta_rodape:visited{
    transform: scale(0.75);
}

.insta_rodape:hover{
    transform: scale(0.9);
    opacity: 75%;
    transition: 0.4s;
}

.left_rodape{
    float: left;
}

.rigth_rodape{
    float: right;
}

/*------------------------------------*/

body{
    margin: 0; /*determina a margem como zero*/
    background-color: rgb(10, 10, 10);
    overflow-x: hidden; /*retira a barra lateral*/
}