@media (min-width: 725px) and (max-width: 1100px){

    .chamada{
        background-image: url('../../img/index/Background-opacity10-avengers.png');
        padding-bottom: 225px;
        display: block;
    }

    .curiosidades{
        text-align: center;
        color: red;
        padding-top: 30px;
        font-size: 40px;
    }
    
    .text_curiosidades{
        width: 75vw;
        margin:0 auto;
        font-size: 20px;
        text-align: center;
        text-align: justify;
    }

    .barra_diagonal{
        background-color: red;
        color: red;
        display: block;
        margin-top: -75px;
        transform: skewY(-2deg);
        opacity: 60%;
        padding-bottom: 35px;
        padding-top: 30px;
    }

    .ajuste_barra_diagonal{
        background-color: rgb(10, 10, 10);
        transform: skewY(-2deg);
        padding-top: 20px;
        padding-bottom: 55px;
        margin-top:-25px;
    }

    /*-----------------------------------*/

    .avengers{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-left: 40vw;
        word-spacing: 500px;
    }
    
    .figure1{
        width: 40vw;
        float: left;
    }

    .imgum{
        margin:0 auto;
        float: right;
        margin-right: 3vw;
        transform: scale(1.1);
        margin-top: -135px;
        padding-bottom: 50px;
    }

    .imgum:hover{
        margin:0 auto;
        float: right;
        margin-right: 3vw;
        transform: scale(1.35);
        transition: 0.3s;
        margin-top: -135px;
        padding-bottom: 50px;
    }


    .sinopse{
        color: white;
        text-align: center;
        margin-top: 15px;
        font-size: 25px;
        display: inline-block;
    }

    .text_sinopse{
        text-align: justify;
        width: 75%;
        margin:0 auto;
        line-height: 30px;
        color: white;
        margin-bottom: 12VW;
        margin-top: 20px;
        font-size: 18px;
    }

    /*-----------------------------------*/









    /*-----------------------------------*/

    .logo_rodape_img{
        transform: scale(0.75);
    }

    .logo_rodape_img:visited{
        transform: scale(0.75);
    }

    .logo_rodape_img:hover{
        transform: scale(0.9);
        opacity: 75%;
        transition: 0.4s;
    }

    .yt_rodape{
        transform: scale(0.75);
    }

    .yt_rodape:visited{
        transform: scale(0.75);
    }

    .yt_rodape:hover{
        transform: scale(0.9);
        opacity: 75%;
        transition: 0.4s;
    }

    .fb_rodape{
        transform: scale(0.75);
    }

    .fb_rodape:visited{
        transform: scale(0.75);
    }

    .fb_rodape:hover{
        transform: scale(0.9);
        opacity: 75%;
        transition: 0.4s;
    }

    .insta_rodape{
        transform: scale(0.75);
    }

    .insta_rodape:visited{
        transform: scale(0.75);
    }

    .insta_rodape:hover{
        transform: scale(0.9);
        opacity: 75%;
        transition: 0.4s;
    }

    .left_rodape{
        float: left;
    }

    .rigth_rodape{
        float: right;
    }

    /*------------------------------------*/

    body{
        margin: 0;
        background-color: rgb(10, 10, 10);
        overflow-x: hidden;
    }
}

    
    
    /*-----------------------------------*/
    /*-----------------------------------*/
    /*-----------------------------------*/
    /*-----------------------------------*/
    /*-----------------------------------*/


@media (min-width: 520px) and (max-width: 725px){
    .chamada{
        background-image: url('../../img/index/Background-opacity10-avengers.png');
        padding-bottom: 200px;
        display: block;
    }

    .curiosidades{
        text-align: center;
        color: red;
        padding-top: 30px;
        font-size: 40px;
    }
    
    .text_curiosidades{
        text-align: center;
        margin:0 auto;
        width: 75vw;
        font-size: 20px;
        text-align: justify;
    }

    .barra_diagonal{
        background-color: red;
        color: red;
        display: block;
        transform: skewY(-4deg);
        opacity: 60%;
        padding-bottom: 20px;
        padding-top: 20px;
        margin-top: -75px;
    }

    .ajuste_barra_diagonal{
        background-color: rgb(10, 10, 10);
        transform: skewY(-4deg);
        padding-bottom: 70px;
    }

    /*-----------------------------------*/

    .avengers{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-top: 25px;
    }
    
    .imgum{
        margin:0 auto;
        display: block;
        transform: scale(1.25);
        margin-top: 75px;
    }

    .imgum:hover{
        margin:0 auto;
        display: block;
        transform: scale(1.4);
        transition: 0.3s;
        margin-top: 100px;
        padding-bottom: 25px;
    }

    .sinopse{
        color: white;
        text-align: center;
        margin-top: 20px;
        font-size: 25px;
        margin-top: 10vw;
    }

    .text_sinopse{
        margin-top: 20px;
        text-align: justify;
        width: 75%;
        margin:0 auto;
        display: block;
        line-height: 20px;
        color: white;
    }

    /*-----------------------------------*/

    .chamada2{
        background-image: url('../../img/index/Background-opacity10-avengers.png');
        padding-bottom: 200px;
        display: block;
    }

    .curiosidades2{
        text-align: center;
        color: blue;
        padding-top: 30px;
        font-size: 40px;
    }
    
    .text_curiosidades2{
        text-align: center;
        margin:0 auto;
        width: 75vw;
        font-size: 20px;
        text-align: justify;
    }

    .barra_diagonal2{
        background-color: blue;
        color: blue;
        display: block;
        transform: skewY(3deg);
        opacity: 60%;
        padding-bottom: 25px;
        padding-top: 20px;
        margin-top: -75px;
    }

    .ajuste_barra_diagonal2{
        background-color: rgb(10, 10, 10);
        transform: skewY(4deg);
        padding-bottom: 50px;
        padding-top: 40px;
        margin-top: -10px;
    }

    /*-----------------------------------*/

    .avengers2{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-top: 25px;
    }

    .sub_avengers2{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-top: -15px;
    }
    
    .img2{
        margin:0 auto;
        display: block;
        transform: scale(1.25);
        margin-top: 75px;
    }

    .img2:hover{
        margin:0 auto;
        display: block;
        transform: scale(1.4);
        transition: 0.3s;
        margin-top: 100px;
        padding-bottom: 25px;
    }

    .sinopse2{
        color: white;
        text-align: center;
        margin-top: 20px;
        font-size: 25px;
        margin-top: 10vw;
    }

    .text_sinopse2{
        margin-top: 20px;
        text-align: justify;
        width: 75%;
        margin:0 auto;
        display: block;
        line-height: 20px;
        color: white;
    }

    /*-----------------------------------*/

    .chamada3{
        background-image: url('../../img/index/Background-opacity10-avengers.png');
        padding-bottom: 200px;
        display: block;
    }

    .curiosidades3{
        text-align: center;
        color: purple;
        padding-top: 30px;
        font-size: 40px;
    }
    
    .text_curiosidades3{
        text-align: center;
        margin:0 auto;
        width: 75vw;
        font-size: 20px;
        text-align: justify;
    }

    .barra_diagonal3{
        background-color: purple;
        color: purple;
        display: block;
        transform: skewY(-4deg);
        opacity: 60%;
        padding-bottom: 25px;
        padding-top: 20px;
        margin-top: -75px;
    }

    .ajuste_barra_diagonal3{
        background-color: rgb(10, 10, 10);
        transform: skewY(-3deg);
        padding-bottom: 50px;
        padding-top: 40px;
        margin-top: -10px;
    }

    /*-----------------------------------*/

    .avengers3{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-top: 25px;
    }

    .sub_avengers3{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-top: -15px;
    }
    
    .img3{
        margin:0 auto;
        display: block;
        transform: scale(1.25);
        margin-top: 75px;
    }

    .img3:hover{
        margin:0 auto;
        display: block;
        transform: scale(1.4);
        transition: 0.3s;
        margin-top: 100px;
        padding-bottom: 25px;
    }

    .sinopse3{
        color: white;
        text-align: center;
        margin-top: 20px;
        font-size: 25px;
        margin-top: 10vw;
    }

    .text_sinopse3{
        margin-top: 20px;
        text-align: justify;
        width: 75%;
        margin:0 auto;
        display: block;
        line-height: 20px;
        color: white;
    }

    /*-----------------------------------*/

    .chamada4{
        background-image: url('../../img/index/Background-opacity10-avengers.png');
        padding-bottom: 200px;
        display: block;
    }

    .curiosidades4{
        text-align: center;
        color: rgb(10, 116, 10);
        padding-top: 30px;
        font-size: 40px;
    }
    
    .text_curiosidades4{
        text-align: center;
        margin:0 auto;
        width: 75vw;
        font-size: 20px;
        text-align: justify;
    }

    .barra_diagonal4{
        background-color: rgb(10, 116, 10);
        color: rgb(10, 116, 10);
        display: block;
        transform: skewY(3deg);
        opacity: 60%;
        padding-bottom: 25px;
        padding-top: 20px;
        margin-top: -75px;
    }

    .ajuste_barra_diagonal4{
        background-color: rgb(10, 10, 10);
        transform: skewY(4deg);
        padding-bottom: 50px;
        padding-top: 40px;
        margin-top: -10px;
    }

    /*-----------------------------------*/

    .avengers4{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-top: 25px;
    }

    .sub_avengers4{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-top: -15px;
    }
    
    .img4{
        margin:0 auto;
        display: block;
        transform: scale(1.25);
        margin-top: 75px;
    }

    .img4:hover{
        margin:0 auto;
        display: block;
        transform: scale(1.4);
        transition: 0.3s;
        margin-top: 100px;
        padding-bottom: 25px;
    }

    .sinopse4{
        color: white;
        text-align: center;
        margin-top: 20px;
        font-size: 25px;
        margin-top: 10vw;
    }

    .text_sinopse4{
        margin-top: 20px;
        text-align: justify;
        width: 75%;
        margin:0 auto;
        display: block;
        line-height: 20px;
        color: white;
    }
    /*-----------------------------------*/

    .chamada5{
        background-image: url('../../img/index/Background-opacity10-avengers.png');
        padding-bottom: 200px;
        display: block;
    }

    .curiosidades5{
        text-align: center;
        color: rgb(172, 22, 172);
        padding-top: 30px;
        font-size: 40px;
    }
    
    .text_curiosidades5{
        text-align: center;
        margin:0 auto;
        width: 75vw;
        font-size: 20px;
        text-align: justify;
    }

    .barra_diagonal5{
        background-color: rgb(172, 22, 172);
        color: rgb(172, 22, 172);
        display: block;
        transform: skewY(-3deg);
        opacity: 60%;
        padding-bottom: 25px;
        padding-top: 20px;
        margin-top: -75px;
    }

    .ajuste_barra_diagonal5{
        background-color: rgb(10, 10, 10);
        transform: skewY(-4deg);
        padding-bottom: 50px;
        padding-top: 40px;
        margin-top: -10px;
    }

    /*-----------------------------------*/

    .logo_rodape_img{
        transform: scale(0.75);
    }

    .logo_rodape_img:visited{
        transform: scale(0.75);
    }

    .logo_rodape_img:hover{
        transform: scale(0.9);
        opacity: 75%;
        transition: 0.4s;
    }

    .yt_rodape{
        transform: scale(0.75);
    }

    .yt_rodape:visited{
        transform: scale(0.75);
    }

    .yt_rodape:hover{
        transform: scale(0.9);
        opacity: 75%;
        transition: 0.4s;
    }

    .fb_rodape{
        transform: scale(0.75);
    }

    .fb_rodape:visited{
        transform: scale(0.75);
    }

    .fb_rodape:hover{
        transform: scale(0.9);
        opacity: 75%;
        transition: 0.4s;
    }

    .insta_rodape{
        transform: scale(0.75);
    }

    .insta_rodape:visited{
        transform: scale(0.75);
    }

    .insta_rodape:hover{
        transform: scale(0.9);
        opacity: 75%;
        transition: 0.4s;
    }

    .left_rodape{
        float: left;
    }

    .rigth_rodape{
        float: right;
    }

    /*------------------------------------*/

    body{
        margin: 0;
        background-color: rgb(10, 10, 10);
        overflow-x: hidden;
    }
}

    /*-----------------------------------*/
    /*-----------------------------------*/
    /*-----------------------------------*/
    /*-----------------------------------*/
    /*-----------------------------------*/


@media (min-width: 1000px){
    .chamada{
        background-image: url('../../img/index/Background-opacity10-avengers.png');
        padding-bottom: 275px;
        display: block;
    }

    .curiosidades{
        text-align: center;
        color: red;
        padding-top: 30px;
        font-size: 40px;
    }
    
    .text_curiosidades{
        width: 75vw;
        margin:0 auto;
        font-size: 20px;
        text-align: center;
    }

    .barra_diagonal{
        background-color: red;
        color: red;
        display: block;
        margin-top: -75px;
        transform: skewY(2deg);
        opacity: 60%;
        padding-bottom: 35px;
        padding-top: 30px;
    }

    .ajuste_barra_diagonal{
        background-color: rgb(10, 10, 10);
        transform: skewY(2deg);
        padding-top: 20px;
        padding-bottom: 55px;
        margin-top:-25px;
    }

    /*-----------------------------------*/

    .avengers{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-left: 30vw;
    }
    
    .figure1{
        width: 40vw;
        float: left;
    }

    .imgum{
        margin:0 auto;
        float: right;
        margin-right: 10vw;
        transform: scale(1.4);
        margin-top: -30px;
    }

    .sinopse{
        color: white;
        text-align: center;
        margin-top: 15px;
        font-size: 25px;
        display: inline-block;
    }

    .text_sinopse{
        text-align: justify;
        width: 75%;
        margin:0 auto;
        line-height: 30px;
        color: white;
        margin-bottom: 12VW;
        margin-top: 20px;
        font-size: 18px;
    }
    
    /*-------------------------------------*/

    .chamada2{
        background-image: url('../../img/index/Background-opacity10-avengers.png');
        padding-bottom: 275px;
        display: block;
    }

    .curiosidades2{
        text-align: center;
        color: blue;
        padding-top: 30px;
        font-size: 40px;
    }
    
    .text_curiosidades2{
        width: 75vw;
        margin:0 auto;
        font-size: 20px;
        text-align: center;
    }

    .barra_diagonal2{
        background-color: blue;
        color: blue;
        display: block;
        margin-top: -95px;
        transform: skewY(-3deg);
        opacity: 60%;
        padding-bottom: 35px;
        padding-top: 30px;
    }

    .ajuste_barra_diagonal2{
        background-color: rgb(10, 10, 10);
        transform: skewY(-2deg);
        padding-top: 20px;
        padding-bottom: 75px;
        margin-top:-25px;
    }

    /*-----------------------------------*/

    .avengers2{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-left: 30vw;
    }
    
    .sub_avengers2{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-left: 30vw;
    }

    .figure2{
        width: 40vw;
        float: left;
    }

    .img2{
        margin:0 auto;
        float: right;
        margin-right: 10vw;
        transform: scale(1.4);
        margin-top: -125px;
    }

    .sinopse2{
        color: white;
        text-align: center;
        margin-top: 15px;
        font-size: 25px;
        display: inline-block;
    }

    .text_sinopse2{
        text-align: justify;
        width: 75%;
        margin:0 auto;
        line-height: 30px;
        color: white;
        margin-bottom: 10VW;
        margin-top: 20px;
        font-size: 18px;
    }

    /*-------------------------------------*/

    .chamada3{
        background-image: url('../../img/index/Background-opacity10-avengers.png');
        padding-bottom: 275px;
        display: block;
    }

    .curiosidades3{
        text-align: center;
        color: purple;
        padding-top: 30px;
        font-size: 40px;
    }
    
    .text_curiosidades3{
        width: 75vw;
        margin:0 auto;
        font-size: 20px;
        text-align: center;
    }

    .barra_diagonal3{
        background-color: purple;
        color: purple;
        display: block;
        margin-top: -95px;
        transform: skewY(3deg);
        opacity: 60%;
        padding-bottom: 35px;
        padding-top: 30px;
    }

    .ajuste_barra_diagonal3{
        background-color: rgb(10, 10, 10);
        transform: skewY(2deg);
        padding-top: 20px;
        padding-bottom: 100px;
        margin-top:-25px;
    }

    /*-----------------------------------*/

    .avengers3{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-left: 30vw;
    }
    
    .sub_avengers3{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-left: 30vw;
    }

    .figure3{
        width: 40vw;
        float: left;
    }

    .img3{
        margin:0 auto;
        float: right;
        margin-right: 10vw;
        transform: scale(1.4);
        margin-top: -170px;
    }

    .sinopse3{
        color: white;
        text-align: center;
        margin-top: 15px;
        font-size: 25px;
        display: inline-block;
    }

    .text_sinopse3{
        text-align: justify;
        width: 75%;
        margin:0 auto;
        line-height: 30px;
        color: white;
        margin-bottom: 10VW;
        margin-top: 20px;
        font-size: 18px;
    }

    /*-------------------------------------*/

    .chamada4{
        background-image: url('../../img/index/Background-opacity10-avengers.png');
        padding-bottom: 275px;
        display: block;
    }

    .curiosidades4{
        text-align: center;
        color: rgb(10, 116, 10);
        padding-top: 30px;
        font-size: 40px;
    }
    
    .text_curiosidades4{
        width: 75vw;
        margin:0 auto;
        font-size: 20px;
        text-align: center;
    }

    .barra_diagonal4{
        background-color: rgb(10, 116, 10);
        color: rgb(10, 116, 10);
        display: block;
        margin-top: -95px;
        transform: skewY(-3deg);
        opacity: 60%;
        padding-bottom: 35px;
        padding-top: 30px;
    }

    .ajuste_barra_diagonal4{
        background-color: rgb(10, 10, 10);
        transform: skewY(-2deg);
        padding-top: 20px;
        padding-bottom: 75px;
        margin-top:-25px;
    }

    /*-----------------------------------*/

    .avengers4{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-left: 30vw;
    }
    
    .sub_avengers4{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-left: 30vw;
    }

    .figure4{
        width: 40vw;
        float: left;
    }

    .img4{
        margin:0 auto;
        float: right;
        margin-right: 10vw;
        transform: scale(1.4);
        margin-top: -125px;
    }

    .sinopse4{
        color: white;
        text-align: center;
        margin-top: 15px;
        font-size: 25px;
        display: inline-block;
    }

    .text_sinopse4{
        text-align: justify;
        width: 75%;
        margin:0 auto;
        line-height: 30px;
        color: white;
        margin-bottom: 12VW;
        margin-top: 20px;
        font-size: 18px;
    }

    /*-------------------------------------*/

    .chamada5{
        background-image: url('../../img/index/Background-opacity10-avengers.png');
        padding-bottom: 275px;
        display: block;
    }

    .curiosidades5{
        text-align: center;
        color: rgb(172, 22, 172);
        padding-top: 30px;
        font-size: 40px;
    }
    
    .text_curiosidades5{
        width: 75vw;
        margin:0 auto;
        font-size: 20px;
        text-align: center;
    }

    .barra_diagonal5{
        background-color: rgb(172, 22, 172);
        color: rgb(172, 22, 172);
        display: block;
        margin-top: -95px;
        transform: skewY(2deg);
        opacity: 60%;
        padding-bottom: 35px;
        padding-top: 30px;
    }

    .ajuste_barra_diagonal5{
        background-color: rgb(10, 10, 10);
        transform: skewY(2deg);
        padding-top: 20px;
        padding-bottom: 75px;
        margin-top:-25px;
    }

    /*-------------------------------------*/

    .logo_rodape_img{
        transform: scale(0.75);
    }

    .logo_rodape_img:visited{
        transform: scale(0.75);
    }

    .logo_rodape_img:hover{
        transform: scale(0.9);
        opacity: 75%;
        transition: 0.4s;
    }

    .yt_rodape{
        transform: scale(0.75);
    }

    .yt_rodape:visited{
        transform: scale(0.75);
    }

    .yt_rodape:hover{
        transform: scale(0.9);
        opacity: 75%;
        transition: 0.4s;
    }

    .fb_rodape{
        transform: scale(0.75);
    }

    .fb_rodape:visited{
        transform: scale(0.75);
    }

    .fb_rodape:hover{
        transform: scale(0.9);
        opacity: 75%;
        transition: 0.4s;
    }

    .insta_rodape{
        transform: scale(0.75);
    }

    .insta_rodape:visited{
        transform: scale(0.75);
    }

    .insta_rodape:hover{
        transform: scale(0.9);
        opacity: 75%;
        transition: 0.4s;
    }

    .left_rodape{
        float: left;
    }

    .rigth_rodape{
        float: right;
    }

    /*------------------------------------*/

    body{
        margin: 0;
        background-color: rgb(10, 10, 10);
        overflow-x: hidden;
    }
}


/*----------------------------------------------------*/
/*----------------------------------------------------*/
/*----------------------------------------------------*/
/*----------------------------------------------------*/
/*----------------------------------------------------*/


@media (max-width: 520px){
    .chamada{
        background-image: url('../../img/index/Background-opacity10-avengers.png');
        padding-bottom: 150px;
        display: block;
    }

    .curiosidades{
        text-align: center;
        color: red;
        padding-top: 30px;
        font-size: 40px;
    }
    
    .text_curiosidades{
        text-align: center;
        margin:0 auto;
        width: 75vw;
        font-size: 20px;
        text-align: justify;
    }

    .barra_diagonal{
        background-color: red;
        color: red;
        display: block;
        margin-top: -55px;
        transform: skewY(-4deg);
        opacity: 60%;
        padding-bottom: 5px;
        padding-top: 2px;
    }

    .ajuste_barra_diagonal{
        background-color: black;
        margin-top: -25px;
        transform: skewY(-4deg);
        padding-top: 20px;
    }

    /*-----------------------------------*/

    .avengers{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-top: -15px;
    }
    
    .imgum{
        margin:0 auto;
        display: block;
    }

    .sinopse{
        color: white;
        text-align: center;
        margin-top: 20px;
        font-size: 25px;
    }

    .text_sinopse{
        margin-top: 20px;
        text-align: justify;
        width: 75%;
        margin:0 auto;
        display: block;
        line-height: 20px;
        color: white;
    }
    
    /*-------------------------------------*/

    .chamada2{
        background-image: url('../../img/index/Background-opacity10-avengers.png');
        padding-bottom: 150px;
        display: block;
    }

    .curiosidades2{
        text-align: center;
        color: blue;
        padding-top: 30px;
        font-size: 40px;
    }
    
    .text_curiosidades2{
        text-align: center;
        margin:0 auto;
        width: 75vw;
        font-size: 20px;
        text-align: justify;
    }

    .barra_diagonal2{
        background-color: blue;
        color: blue;
        display: block;
        margin-top: -55px;
        transform: skewY(5deg);
        opacity: 60%;
        padding-bottom: 5px;
        padding-top: 2px;
    }

    .ajuste_barra_diagonal2{
        background-color: black;
        margin-top: -25px;
        transform: skewY(4deg);
        padding-top: 20px;
    }

    /*------------------------------------*/

    .avengers2{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-top: -15px;
    }

    .sub_avengers2{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-top: -15px;
    }
    
    .img2{
        margin:0 auto;
        display: block;
    }

    .sinopse2{
        color: white;
        text-align: center;
        margin-top: 20px;
        font-size: 25px;
    }

    .text_sinopse2{
        margin-top: 20px;
        text-align: justify;
        width: 75%;
        margin:0 auto;
        display: block;
        line-height: 20px;
        color: white;
    }

    /*-------------------------------------*/

    .chamada3{
        background-image: url('../../img/index/Background-opacity10-avengers.png');
        padding-bottom: 150px;
        display: block;
    }

    .curiosidades3{
        text-align: center;
        color: purple;
        padding-top: 30px;
        font-size: 40px;
    }
    
    .text_curiosidades3{
        text-align: center;
        margin:0 auto;
        width: 75vw;
        font-size: 20px;
        text-align: justify;
    }

    .barra_diagonal3{
        background-color: purple;
        color: purple;
        display: block;
        margin-top: -55px;
        transform: skewY(-4deg);
        opacity: 70%;
        padding-bottom: 5px;
        padding-top: 2px;
    }

    .ajuste_barra_diagonal3{
        background-color: black;
        margin-top: -25px;
        transform: skewY(-5deg);
        padding-top: 20px;
    }

    /*------------------------------------*/

    .avengers3{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-top: -15px;
    }

    .sub_avengers3{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-top: -15px;
    }
    
    .img3{
        margin:0 auto;
        display: block;
    }

    .sinopse3{
        color: white;
        text-align: center;
        margin-top: 20px;
        font-size: 25px;
    }

    .text_sinopse3{
        margin-top: 20px;
        text-align: justify;
        width: 75%;
        margin:0 auto;
        display: block;
        line-height: 20px;
        color: white;
    }

    /*-------------------------------------*/

    .chamada4{
        background-image: url('../../img/index/Background-opacity10-avengers.png');
        padding-bottom: 150px;
        display: block;
    }

    .curiosidades4{
        text-align: center;
        color: green;
        padding-top: 30px;
        font-size: 40px;
    }
    
    .text_curiosidades4{
        text-align: center;
        margin:0 auto;
        width: 75vw;
        font-size: 20px;
        text-align: justify;
    }

    .barra_diagonal4{
        background-color: green;
        color: green;
        display: block;
        margin-top: -55px;
        transform: skewY(5deg);
        opacity: 70%;
        padding-bottom: 5px;
        padding-top: 2px;
    }

    .ajuste_barra_diagonal4{
        background-color: black;
        margin-top: -25px;
        transform: skewY(4deg);
        padding-top: 20px;
    }

    /*------------------------------------*/

    .avengers4{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-top: -15px;
    }

    .sub_avengers4{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-top: -15px;
    }
    
    .img4{
        margin:0 auto;
        display: block;
    }

    .sinopse4{
        color: white;
        text-align: center;
        margin-top: 20px;
        font-size: 25px;
    }

    .text_sinopse4{
        margin-top: 20px;
        text-align: justify;
        width: 75%;
        margin:0 auto;
        display: block;
        line-height: 20px;
        color: white;
    }

    /*-------------------------------------*/

    .chamada5{
        background-image: url('../../img/index/Background-opacity10-avengers.png');
        padding-bottom: 150px;
        display: block;
    }

    .curiosidades5{
        text-align: center;
        color: rgb(204, 18, 164);
        padding-top: 30px;
        font-size: 40px;
    }
    
    .text_curiosidades5{
        text-align: center;
        margin:0 auto;
        width: 75vw;
        font-size: 20px;
        text-align: justify;
    }

    .barra_diagonal5{
        background-color: rgb(204, 18, 164);
        color: rgb(204, 18, 164);
        display: block;
        margin-top: -55px;
        transform: skewY(-3deg);
        opacity: 70%;
        padding-bottom: 5px;
        padding-top: 2px;
    }

    .ajuste_barra_diagonal5{
        background-color: black;
        margin-top: -25px;
        transform: skewY(-2deg);
        padding-top: 20px;
    }

    /*-------------------------------------*/

    .logo_rodape_img{
        transform: scale(0.75);
    }

    .logo_rodape_img:visited{
        transform: scale(0.75);
    }

    .logo_rodape_img:hover{
        transform: scale(0.9);
        opacity: 75%;
        transition: 0.4s;
    }

    .yt_rodape{
        transform: scale(0.75);
    }

    .yt_rodape:visited{
        transform: scale(0.75);
    }

    .yt_rodape:hover{
        transform: scale(0.9);
        opacity: 75%;
        transition: 0.4s;
    }

    .fb_rodape{
        transform: scale(0.75);
    }

    .fb_rodape:visited{
        transform: scale(0.75);
    }

    .fb_rodape:hover{
        transform: scale(0.9);
        opacity: 75%;
        transition: 0.4s;
    }

    .insta_rodape{
        transform: scale(0.75);
    }

    .insta_rodape:visited{
        transform: scale(0.75);
    }

    .insta_rodape:hover{
        transform: scale(0.9);
        opacity: 75%;
        transition: 0.4s;
    }

    .left_rodape{
        float: left;
    }

    .rigth_rodape{
        float: right;
    }

    /*------------------------------------*/

    body{
        margin: 0;
        background-color: black;
        overflow-x: hidden;
    }
}

/*
.back{
    background-image: url(/img/index/Background-opacity10-avengers.png);
    padding-bottom: 200px;
    display: block;
    width: 100vw;
    margin:0 auto;
}

.comeco{
    width: 100vw;
    text-align: center;
    color: red;
    padding-top: 30px;
}

.text_comeco{
    text-align: center;
    margin:0 auto;
    width: 60vw;
    display: block;
}

.red{
    background-color: red;
    color: red;
    opacity: 1;
    display: block;
    width: 100vw;
    margin-top: -35px;
    transform: rotate(-2deg);
}

.um{
    background-color: black;
    color: white;
    display: block;
    width: 100vw;
}

.imgum{
    padding-top: 35px;
    padding-bottom: 35px;
}

.img_span{
    position: relative;
    margin: auto;
}

.textum{
    float: right;
    margin-right: 5vw;
    margin-top: 10px;
    width: 50vw;
    text-align: justify;
}*/