@import url('http://fonts.cdnfonts.com/css/lovelo?styles=25962');

* {
    user-select: none;
}

body {
    overflow-x: hidden;
    background-color: rgb(12, 12, 12);
}

#navbar, #menu {
    z-index: 3;
}

header {
    width: 98vw;
}

section#intro {
    position: relative;
    padding: 20vh 2vh 8vh 2vh;
    width: 100%;
    z-index: -1;
    background-image: linear-gradient(to right bottom, rgb(0, 0, 255) 0.4%, rgb(214, 104, 104) 30%, rgb(122, 29, 29));
}

h1, h2, p {
    position: relative;
    left: 4vw;
}

h1, h2 {
    font-family: 'Lovelo', sans-serif;
    text-shadow: 1px 1px 5px rgb(255, 255, 255);
    color: rgb(0, 0, 0); 
}

h1 {
    font-size: 5vh;
}

h2 {
    font-size: 4vh;
}

span#spanUm {
    font-size: 4.5vh;
}

span#spanUm, span#spanDois {
    color:rgb(46, 0, 83);
}

p#inicial {
    font-size: 3vh;
    margin: 10px 10vw auto auto;
    text-indent: 5.5vw;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section#fotografias, section#pq {
    width: 100%;
    padding: 3vw;
}

section#fotografias h1 {
    color:rgb(255, 255, 255);
    text-shadow: 1px 1px 5px rgb(65, 44, 255);
}

div#fotos {
    align-items: center;
}

div#fotos, div#pq_div {
    position: relative;
    top: 5vh;
    display: flex;
    text-align: center;
}

div#Enzo, div#Mateus, div#Mikael {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-shadow: 1px 1px 5px rgb(169, 34, 196);
    color: rgb(255, 255, 255);   
}

div#Enzo span, div#Mateus span, div#Mikael span {
    z-index: 1;
    font-size: 7vh;
    text-align: center;
    position: relative;
    top: 7vh; /*Ajustar na media*/
    left: -2vw; /*Ajustar na media*/
}

img.rapazes {
    z-index: 2;
    position: relative;
    top: -17vh;
    width: 25vw;
    margin: 3vw 3vh auto 1.5vw;
    transition: transform 1s, opacity 1.2s, filter 1s;
}

img.rapazes:hover {
    transform: scale(1.2);
    opacity: 0;
    filter: blur(3px) grayscale(0.5);
}

section#pq {
    background-image: linear-gradient(to right bottom, #33175C 0.4%, #89455F 30%, #522FAC);
    padding-bottom: 20vh;
}

div#pq_div {
    margin: auto auto auto -7vw;
}

p.pq_p {
    font-size: 3vh;
    margin: 10px 2vw auto 3vw;
    width: 28vw;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span.title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5vh;
    color:#BB9AB8;
}

footer {
    width: 98vw;
    
    height: 7vh;
    display: flex;
    color: white;
    align-items: center;
}

footer div#rodape {
    margin: auto;
    text-align: center;
}