@import url(//db.onlinewebfonts.com/c/240a7cb10b49b02c94ceddc459d385a9?family=Gagalin);
@import url(//db.onlinewebfonts.com/c/7cc8cbbd7a330c0d1e7c08c6d62711e4?family=League+Spartan);
@import url(//db.onlinewebfonts.com/c/1f75154643c08ae550c78c5ba92ba8f8?family=AwanZaman-Regular);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Condensed:wght@300&family=Roboto:wght@700&display=swap');
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#slidernoticias {
    background-image: url('../../img/noticias/fundoslider.png');
    background-size: cover;
    height: 90vh;
    background-color: gray;
    width: 98vw;
    margin-top: 10vh;
    z-index: -1;
    overflow: hidden;
    border-bottom: 1vh solid black;
    overflow: hidden;
}
#slidere {
    height: 80%;
    max-height: 100%;
    width: 60%;
    margin: 0 auto;
    overflow-x: hidden;
}
#slider {
    overflow-x: hidden;
    border: 0.4vw solid rgb(211, 211, 211);   
    overflow: hidden;
    height: 80%;
    background-color: gray;
    position: relative;
    margin: 0 auto;
    background-image: url('../../img/noticias/hulk_ironman.jpeg');
    transition-duration: 0.5s;
}
nav {
    top: 0;
    height: 10vh;
    width: 99vw;
}
.logoavengers {
    height: 10vh;
    left: calc(100vw - 32vh);
    overflow: hidden;
}
#hamburguer {
    font-size: 5vh;
}
#noticias {
    font-family: 'Gagalin', sans-serif;
}
#news, #newsblack {
    background-color: white;
    width: 99vw;
    height: 30vw;
    border-bottom: solid 0.5vw red;
    overflow: hidden;
}
#newsblack {
    background-color: rgb(14, 13, 13);
    overflow: hidden;
}
.latest {
    font-family: 'Roboto', sans-serif;
    padding: 2vw 4vw;
}
#noticia1 {
    background-image: url('../../img/noticias/wakanda.jpg');
    background-position: center;
    background-size: cover;
}
#noticia2 {
    background-image: url('../../img/noticias/semvoltaparacasa.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#imagemnew1{
    background-image: url('../../img/noticias/Loki.jpg');
    background-position: center;
    background-size: cover;
}
#imagemnew2{
    background-image: url('../../img/noticias/whatif.jpg');
    background-position: center;
    background-size: cover;
}
#imagemnew3{
    background-image: url('../../img/noticias/harry.jpg');
    background-position: center;
    background-size: cover;
}
#imagemnew4{
    background-image: url('../../img/noticias/filmeeternos.jpg');
    background-position: center;
    background-size: cover;
}
.imagemnew:hover, .imgnoticia:hover, #slider:hover {
    filter: grayscale(1);
    transform: scale(1.05);
}
.latest {
    font-size: 3vw
}
.imgnoticia {
    transition-duration: 0.5s;
    float: left;
    margin-left: 3vw;
    background-color: black;
    position: relative;
    height: 60%;
    width: 30%;
}
.desnews {
    float: right;
    width: calc(94vw - 30%);
}
.newstitle{
    font-weight: bold;
    display: block;
    width: 70%;
    font-family: "AwanZaman-Regular", sans-serif;
    font-size: 2.3vw;
}
.newsspan {
    font-family: "AwanZaman-Regular", sans-serif;
    font-size: 1.5vw;
}
.desnews button {
    font-family:  "AwanZaman-Regular", sans-serif;
    font-size: 1.1vw;
    width: 10vw;
    background-color: white;
    border: 1px solid rgb(192, 192, 192)
}
.whitefont {
    color: white
}
#newsblack button {
    color: white;
    background-color: rgb(14, 13, 13);
    border: 1px solid rgb(192, 192, 192)
}
.espacotop {
    margin-top: 6%;
}
#blocodenoticias {
    margin: 5vw 0;
    padding: 0 6%;
    display: flex;
    flex-direction: row;
    width: 99vw;
    height: 20vw;
    overflow: hidden;
}
.imagemnew {
    transition-duration: 0.5s;
    width: 100%;
    height: 70%;
    background-color: rgb(190, 190, 190);
}
.noticia {
    width: 25%;
    height: 80%;
    margin: 1%;
}
.noticia h1 {
    margin-top: 0.5vw;
    color: rgb(107, 107, 107);
}
.noticia h1, .noticia p {
    font-size: 1vw;
    font-weight: bold   ;
}
#trailer {
    height: 40vw;
    background-color: #D40000;
    display: flex;
    flex-direction: row;
    width: 99vw;
    overflow-x: hidden;
}
#um, #dois{
    width: 50%;
}
#trailer #um img {
    margin: 0 7vw;
    padding: 1vw 2vw;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 80%;
}
#video {
    height: 70%;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 2%;
    padding-right: 3vw;
}

#forma1, #forma6 {
    width: 800%;
    background-color: black;
    height: 100%;
}
.forma2 {
    margin-left: 10%;
    width: 1000%;
    height: 100%;
    background: #000000;
    -webkit-transform: skew(-20deg);
   -moz-transform: skew(-20deg);
     -o-transform: skew(-20deg);
}
#formas, #formas2 {
    position: absolute;
    height: 3vw;
    display: flex;
    flex-direction: row;
    width: 99vw;
}
#formas2{
    margin-top: 37vw;
}
#forma6 {
    margin-left: -1vw;
}
#formas2 #forma1 {
    margin-left: -2vw;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
      -o-transform: skew(-20deg);
}
#formas2 .forma2 {
    width: 200%;
}
#formas2 #forma6 {
    width: 1000%;
}
#form {
    height: 50vw;
    background-color: rgb(14, 13, 13);
    overflow-x: hidden;
}
#form h1 {
    font-size: 3vw;
    padding: 2vw 6vw;
    color: rgb(221, 221, 221);
}
ul {
    width: 90%;
    margin: 0 auto;
}
ul li {
    display: inline-block;
    padding: 0.5vw 0.5vw;
    text-align: center;
}
ul li input {
    background-color: rgb(29, 29, 29);
    border: none;
    border-radius: 2px;
    width: 40.2vw;
    height: 4vw;
}
textarea {
    height: 12vw;
    border-radius: 2px;
    border: none;
    width: 81.7vw;
    margin: 0 auto;
    background-color: rgb(29, 29, 29);
    padding: 1vw;
}
#checkbox {
    width: 2vw;
    padding-left: 10vw;
    margin-right: 0.1vw;
    height: 2vh;
}
label {
    color: rgb(184, 184, 184);
    font-size: 1.2vw;
}
.button {
    font-size: 1.2vw;
    width: 10vw;
    color: rgb(192, 192, 192);
}
.button:hover {
    background-color: rgb(0, 0, 0);
}
input::placeholder, textarea::placeholder, input[type="date"], input[type="password"]::placeholder{
    font-size: 1.2vw;
    color: rgb(184, 184, 184)
}
input:not(#cancelar, #submit), textarea{
    color: rgb(184, 184, 184);
    font-size: 1.2vw;
    padding-left: 1vw;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(1) brightness(80%) sepia(10%) saturate(100%) hue-rotate(20deg);
    margin-right: 1vw;
  }
carousel-inner img {
    width: 80vw;
}
.w-100 {
    border-radius: 5px;
    border: 8px solid rgb(233, 233, 233);
    width: 60vw !important;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}
h5 {
    position: absolute;
    color: black;
}
#noticias {
    margin: 1.3vw auto;
    display: block;
    width: 60vw;
    text-align: left;
    font-size: 2vw;
}
hr {
    height: 0.1vw;
    background-color: rgb(255, 0, 0);
    width: calc(60vw + 16px);
    display: block;
    margin: 1.3vw auto;
}
#descnot {
    font-weight: bold;
    font-size: 1.7vw;
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}
