/*Importação de fontes e de recursos*/
@import url(//db.onlinewebfonts.com/c/240a7cb10b49b02c94ceddc459d385a9?family=Gagalin); 
@import url(//db.onlinewebfonts.com/c/7cc8cbbd7a330c0d1e7c08c6d62711e4?family=League+Spartan);
@import url(//db.onlinewebfonts.com/c/1f75154643c08ae550c78c5ba92ba8f8?family=AwanZaman-Regular);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Condensed:wght@300&family=Roboto:wght@700&display=swap');


body::-webkit-scrollbar{
    display: none; /*Faz com que o elemento não apareça em tela (não tem display)*/
}
* { 
    margin: 0;  /*Deixa os elementos sem margem*/
    padding: 0; /*Deixa os elementos sem padding*/
    box-sizing: border-box; /*Ajusta o tamanho da borda do elemento*/
}
#slidernoticias {
    background-image: url('../../img/noticias/fundoslider.png'); /*Da um plano de fundo ao nosso elemento*/
    background-size: cover; /*A imagem de fundo cobre o elemento*/
    background-position: center; /*Posiciona a imagem de fundo ao centro*/
    height: 90vh; /*Ajusta a altura*/
    background-color: gray; /*Ajusta a cor de fundo*/
    width: 98vw; /*Ajusta a largura*/
    margin-top: 10vh; /*Ajusta a margem do topo do elemento*/
    z-index: -1; /*Ajusta a camada em que o elemento está*/
    overflow: hidden; /*Não permite scroll*/
    border-bottom: 1vh solid black; /*Borda da parte de baixo*/
}
#slidere {
    height: 80%; /*Ajusta a altura*/
    max-height: 100%; /*Ajusta a altura máxima*/
    width: 60%; /*Ajusta a largura*/
    margin: 0 auto;/* centraliza */
}
#slider {
    background-size: cover; /*faz com que o fundo ocupe todo elemento */
    background-position: center; /*centraliza o fundo */
    border: 0.4vw solid rgb(211, 211, 211);    /* define a borda, sua espessura, seu tipo, e sua cor, respectivamente */
    overflow: hidden; /* retira barra de rolagem */
    height: 80%; /*Ajusta a altura*/
    background-color: gray; /* cor de fundo */
    position: relative; /* define a posição como relativa */
    margin: 0 auto; /* centraliza */
    background-image: url('../../img/noticias/hulk_ironman.jpeg'); /* imagem de fundo */
    transition-duration: 0.5s; /*Transição para deixar mudanças mais suaves*/
}
nav {
    top: 0;
    height: 10vh; /*Ajusta a altura*/
    width: 100vw; /*Ajusta a largura*/
}
.logoavengers {
    height: 10vh; /*Ajusta a altura*/
    left: calc(100vw - 32vh); /* distancia da esquerda */
    overflow: hidden; /* retira as barras de rolagem */
}
#hamburguer {
    font-size: 5vh; /* tamanho da fonte */
}
#noticias {
    font-family: 'Gagalin', sans-serif; /* tipo da fonte */
    margin-top: 10vh; /* margem superior */
}
#news, #newsblack {
    background-color: white;
    width: 99vw; /*Ajusta a largura*/
    height: 30vw; /*Ajusta a altura*/
    border-bottom: solid 0.5vw red; /* define a borda, sua espessura, seu tipo, e sua cor, respectivamente */
    overflow: hidden; /* retira as barras de rolagem */
}
#newsblack {
    background-color: rgb(14, 13, 13); /* cor de fundo */
    overflow: hidden; /* retira as barras de rolagem */
}
.latest {
    font-family: 'Roboto', sans-serif; /* tipo da fonte */
    padding: 2vw 4vw; /* margem interna */
}
#noticia1 {
    background-image: url('../../img/noticias/wakanda.jpg'); /* imagem de fundo do elemento*/
    background-position: center; /*Posiciona a imagem de fundo ao centro*/
    background-size: cover; /*A imagem de fundo cobre o elemento*/
}
#noticia2 {
    background-image: url('../../img/noticias/semvoltaparacasa.jpg'); /* imagem de fundo */
    background-size: cover; /*A imagem de fundo cobre o elemento*/
    background-repeat: no-repeat; /* faz com que o fundo do elemento não repita */
}
#imagemnew1{
    background-image: url('../../img/noticias/Loki.jpg');
    background-position: center; /*Posiciona a imagem de fundo ao centro*/
    background-size: cover; /*A imagem de fundo cobre o elemento*/
}
#imagemnew2{
    background-image: url('../../img/noticias/whatif.jpg');
    background-position: center; /*Posiciona a imagem de fundo ao centro*/
    background-size: cover; /*A imagem de fundo cobre o elemento*/
}
#imagemnew3{
    background-image: url('../../img/noticias/harry.jpg');
    background-position: center; /*Posiciona a imagem de fundo ao centro*/
    background-size: cover; /*A imagem de fundo cobre o elemento*/
}
#imagemnew4{
    background-image: url('../../img/noticias/filmeeternos.jpg');
    background-position: center; /*Posiciona a imagem de fundo ao centro*/
    background-size: cover; /*A imagem de fundo cobre o elemento*/
}
.imagemnew:hover, .imgnoticia:hover, #slider:hover {
    filter: grayscale(1); /*Filtro para escala de cinza*/
    transform: scale(1.05); /*Gira o elemento*/
}
.latest {
    font-size: 3vw; /* tamanho da fonte */
}
.imgnoticia {
    transition-duration: 0.5s; /* duração da transição */
    float: left; /*Coloca à esquerda*/
    margin-left: 3vw; /*Margem da esquerda*/
    background-color: black; /* cor de fundo */
    position: relative; /* define a posição como relativa */
    height: 60%; /*Ajusta a altura*/
    width: 30%; /*Ajusta a largura*/
}
.desnews {
    float: right; /* faz com que o elemento flutue na direita */
    width: calc(94vw - 30%); /*Ajusta a largura*/
}
.newstitle{
    font-weight: bold; /* negrito */
    display: block; /*faz com qu o elemento adquira um display de bloco */
    width: 70%; /*Ajusta a largura*/
    font-family: "AwanZaman-Regular", sans-serif;/* tipo da fonte */
    font-size: 2.3vw; /* tamanho da fonte */
}
.newsspan {
    font-family: "AwanZaman-Regular", sans-serif; /* tipo da fonte */
    font-size: 1.5vw; /* tamanho da fonte */
}
.botao {
    font-family:  "AwanZaman-Regular", sans-serif; /* tipo da fonte */
    font-size: 1.1vw; /* tamanho da fonte */
    width: 10vw; /*Ajusta a largura*/
    background-color: white; /* cor de fundo */
    border: 1px solid rgb(119, 119, 119); /* define as bordas como brancas, com 1px de espessura e na cor cinza */
    padding: 0 5vw 0 5vw; /* margem interna superior, da direita, inferior e da esquerda, respectivamente */
}
.whitefont {
    color: white /* cor da fonte */
}
#newsblack .botao {
    color: white; /* cor da fonte */
    background-color: rgb(14, 13, 13); /* cor de fundo */
    border: 1px solid rgb(192, 192, 192) /* define a borda, sua espessura, seu tipo, e sua cor, respectivamente */
}
.espacotop {
    margin-top: 6%;
}
#blocodenoticias {
    margin: 5vw 0;
    padding: 0 6%;
    display: flex;
    flex-direction: row;
    width: 99vw; /*Ajusta a largura*/
    height: 20vw; /*Ajusta a altura*/
    overflow: hidden;
}
.imagemnew {
    transition-duration: 0.5s;
    width: 100%; /*Ajusta a largura*/
    height: 70%; /*Ajusta a altura*/
    background-color: rgb(190, 190, 190);
}
.noticia {
    width: 25%; /*Ajusta a largura*/
    height: 80%; /*Ajusta a altura*/
    margin: 1%;/* margem */
}
.noticia h1 {
    margin-top: 0.5vw;/* margem superior */
    color: rgb(107, 107, 107); /* cor da fonte */
}
.noticia h1, .noticia p {
    font-size: 1vw; /* tamanho da fonte */
    font-weight: bold ; /* negrito */
}
#trailer {
    height: 40vw; /*Ajusta a altura*/
    background-color: #D40000; /* cor de fundo */
    display: flex; /* define o display como flex */
    flex-direction: row; /* define a direção do flex para vertical */
    width: 99vw; /*Ajusta a largura*/
    overflow-x: hidden; /* retira as barras de rolagem */
}
#um, #dois{
    width: 50%; /*Ajusta a largura*/
}
#trailer #um img {
    margin: 0 7vw; /*margem (superior/inferior) e (direita/esquerda) respectivamente */
    padding: 1vw 2vw; /*margem interna (superior/inferior) e (direita/esquerda) respectivamente */
    position: relative; /* define a posição como relativa ao elemento pai */
    top: 50%; /* distancia do topo */
    transform: translateY(-50%); /* transformação vertical */
    height: 80%; /*Ajusta a altura*/
}
#video {
    height: 70%; /*Ajusta a altura*/
    width: 100%; /*Ajusta a largura*/
    position: relative; /* posição relativa ao elemento pai */
    top: 50%; /* distancia do topo */
    transform: translateY(-50%); /* transformação vertical */
    margin-right: 2%; /* margem direita */
    padding-right: 3vw; /* margem interior direita */
}

#forma1, #forma6 {
    width: 800%; /*Ajusta a largura*/
    background-color: black; /* cor de fundo */
    height: 100%; /*Ajusta a altura*/
}
.forma2 {
    margin-left: 10%;/* margem esquerda */
    width: 1000%; /*Ajusta a largura*/
    height: 100%; /*Ajusta a altura*/
    background: #000000;
    -webkit-transform: skew(-20deg); /*tranforma na forma que queremos*/
   -moz-transform: skew(-20deg);
     -o-transform: skew(-20deg);
}
#formas, #formas2 {
    position: absolute; /* posição absoluta */
    height: 3vw; /*Ajusta a altura*/
    display: flex; 
    flex-direction: row;
    width: 99vw; /*Ajusta a largura*/
}
#formas2{
    margin-top: 37vw;
}
#forma6 {
    margin-left: -1vw;
}
#formas2 #forma1 {
    margin-left: -2vw;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
}
#formas2 .forma2 {
    width: 200%; /*Ajusta a largura*/
}
#formas2 #forma6 {
    width: 1000%; /*Ajusta a largura*/
}
#form {
    height: 50vw; /*Ajusta a altura*/
    background-color: rgb(14, 13, 13);
    overflow-x: hidden;
}
#form h1 {
    font-size: 3vw;
    padding: 2vw 6vw;
    color: rgb(221, 221, 221);
}
ul {
    width: 90%; /*Ajusta a largura*/
    margin: 0 auto; /* propriedades da margem */
}
ul li {
    display: inline-block; /* define o display como bloco em linha */
    padding: 0.5vw; /* margem interna */
    text-align: center;/* alinha o texto no centro */
}
ul li input {
    background-color: rgb(29, 29, 29); /* cor de fundo */
    border: none; /* retira a borda */
    border-radius: 2px; /* arredondamento da borda */
    width: 40.2vw; /*Ajusta a largura*/
    height: 4vw; /*Ajusta a altura*/
}
textarea {
    height: 12vw; /*Ajusta a altura*/
    border-radius: 2px; /* arredondamento da borda */
    border: none; /* retira a borda */
    width: 81.7vw; /*Ajusta a largura*/
    margin: 0 auto; /* centraliza o elememnto */
    background-color: rgb(29, 29, 29); /* cor de fundo */
    padding: 1vw; /* margem interna */
}
#checkbox {
    width: 2vw; /*Ajusta a largura*/
    padding-left: 10vw; /* margem interna esquerda*/
    margin-right: 0.1vw; /* margem externa direita */
    height: 2vh; /*Ajusta a altura*/
}
label {
    color: rgb(184, 184, 184); /* cor da fonte */
    font-size: 1.2vw; /* tamanho da fonte */
}
.button {
    font-size: 1.2vw; /* tamanho da fonte */
    width: 10vw; /*Ajusta a largura*/
    color: rgb(192, 192, 192); /* cor da fonte */
}
.button:hover {
    background-color: rgb(0, 0, 0); /* cor de fundo */
}
input::placeholder, textarea::placeholder, input[type="date"], input[type="password"]::placeholder{
    font-size: 1.2vw; /* tamanho da fonte */
    color: rgb(184, 184, 184) /* cor da fonte */
}
input:not(#cancelar, #submit), textarea{
    color: rgb(184, 184, 184); /* cor da fonte */
    font-size: 1.2vw; /* tamanho da fonte */
    padding-left: 1vw; /* margem interna esquerda */
}
input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer; /* tipo de cursor */
    filter: invert(1) brightness(80%) sepia(10%) saturate(100%) hue-rotate(20deg); /* muda a cor do calendariozinho */
    margin-right: 1vw; /* margem externa direita */
  }
carousel-inner img {
    width: 80vw; /*Ajusta a largura*/
}
.w-100 {
    border-radius: 5px;
    border: 8px solid rgb(233, 233, 233); /* define a borda, sua espessura, seu tipo, e sua cor, respectivamente */
    width: 60vw !important; /*Ajusta a largura*/
    bottom: 0; /*Distância da parte debaixo*/
    top: 0; /*Distância do topo*/
    left: 0; /*Distância da esquerda*/
    right: 0; /*Distância da direita*/
    margin: auto; /* margem automatica */
}
h5 {
    position: absolute; /*Posição absoluta (em relação ao elemento pai)*/
    color: black; /* cor da fonte */
}
#noticias {
    margin: 1.3vw auto; /* margem (superior/inferior) e (direita/esquerda) respectivamente */
    display: block; /* define o display como bloco */
    width: 60vw; /*Ajusta a largura*/
    text-align: left; /* alinha o texto no centro */
    font-size: 2vw; /* tamanho da fonte */
}
hr {
    height: 0.1vw; /*Ajusta a altura*/
    background-color: rgb(255, 0, 0); /* cor de fundo */
    width: calc(60vw + 16px); /*Ajusta a largura*/
    display: block; /* define o display como bloco */
    margin: 1.3vw auto; /* margin (superior/inferior) e (direita/esquerda) respectivamente */
}
#descnot {
    font-weight: bold; /* negrito */
    font-size: 1.7vw; /* tamanho da fonte */
    text-align: center; /* alinha o texto no centro */
}
a {
    text-decoration: none; /* retira a decoração de texto */
    color: black; /* cor da fonte */
}
/*um media que define as propriedades dos elementos quando em proporção de tela menor.*/
@media screen and (max-width: 1640px) {
    #news, #newsblack, #slidernoticias, #blocodenoticias, #trailer, #form {
        width: 99%; /*Ajusta a largura*/
    }

}
@media screen and (max-width: 960px) {
    #slidernoticias {
        height: 70vh; /*Ajusta a altura*/
    }
    #noticias {
        position: relative; /*define a posição como relativa*/
    }
}
@media screen and (max-width: 600px) {
    #slidernoticias {
        height: 30vh; /*Ajusta a altura*/
    }
    #slide {
        height: 40vh; /*Ajusta a altura*/
        background-size: 2%;/* tamanho do fundo */
    }
}
iframe {
    border: 0; /*define a borda do iframe como 0*/
}

.correct{
    display: none; /*faz com que o elemento "suma"*/
}
.botao:hover,  #newsblack .botao:hover{
    text-decoration: none; /* retira as decorações de texto */
    color: rgb(194, 0, 0); /* cor da fonte */
    border-color: rgb(202, 0, 0); /* cor da borda */
}