@import url('http://fonts.cdnfonts.com/css/lovelo?styles=25962');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Condensed:wght@300&family=Roboto:wght@700&display=swap');
/* define a cor de fundo do body, define que o body não tera barra de rolagem, nem podera ser selecionado pelo usuário */
body {
    background-color: #181818;
    overflow-x: hidden;
    user-select: none;
    max-height: 50vw;
}
/* define margin 0 para todos elementos */
* {
    margin: 0;
}
/* traz a nav para camada mais da frente */
nav {
    z-index: 999; /*Coloca ele na camada 999*/
}
/* define as noticias com uma posição absoluta, define a largura, altura, cor de fundo, margem do topo e que ela não terá barra de rolagem */
#noticias {
    position: absolute; /*Posição com relação ao body*/
    width: 99vw; /*Largura do cabeçalho*/
    height: 50vw; /*Altura do elemento*/
    background-color: #181818; /*Cor do fundo*/
    margin-top: 15vh; /*Margem da parte de cima do elemento*/
    overflow: hidden; /*Não permite a rolagem (scroll)*/
}
/* define a posição da shape, a largura, a altura, a margem para ambos lados, a cor de fundo e a transição. */
.shape {
    top: 0; /*Distância do topo*/
    bottom: 0; /*Distãncia da parte inferior da página*/
    width: 8vw; /*Largura do elemento*/
    height: 8vw; /*Altura do elemento*/
    margin: 1vw; /*Margem de todos os lados*/
    background: #ff0000; /*Cor de fundo*/
    -webkit-transition: all .5s ease-out; /*Transição para suavizar movimentações*/
    -moz-transition: all .5s ease-out; /*Transição para suavizar movimentações*/
    transition: all .5s ease-out; /*Transição para suavizar movimentações*/
}
/* define a forma desta classe. Deixa ela na forma que vemos no site. */
.shape.square.to-bevel, .shape-menor.square.to-bevel {
    -webkit-clip-path: polygon(0% 0%, 70% 0%, 100% 20%, 100% 100%, 80% 100%, 30% 100%, 0% 80%, 0% 0%);
    clip-path: polygon(0% 0%, 70% 0%, 100% 20%, 100% 100%, 80% 100%, 30% 100%, 0% 80%, 0% 0%);
}
/* centraliza este elemento, define sua cor de fundo, sua altura e largura. */
#blocogrande {
    margin: 0 auto; /*Margem do elemento*/
    background-color: #090909; /*Cor de fundo*/
    width: 70%; /*Largura do elemento*/
    height: 20vw; /*Altura do elemento*/
}
#dir, #esq {
<<<<<<< HEAD
    vertical-align: middle; /*Alinha no centro vertical do elemento*/
    height: 90%; /*Altura de nosso elemento*/
    color: white; /*Cor do texto*/
    top: 0; /*Distância do topo*/
    bottom: 0; /*Distância da parte debaixo da página*/
    margin: 0; /*Margem de todos os lados*/
}
#icone:hover {
    background-color: rgb(27, 27, 27); /*Cor de fundo*/
}
.shape-menor {
    background-repeat: no-repeat; /*Imagem de fundo não repete*/
    background-position: center; /*Posição da imagem de fundo (centro)*/
    background-size: cover; /*A imagem de fundo cobre o elemento*/
    margin-left: 5%; /*Margem esquerda do elemento*/
    position: relative; /*Posição relativa ao elemento pai*/
    top: 50%; /*Distância do topo*/
    transform: translateY(-50%); /*Movimentação do eixo Y*/
    width: 90%; /*Largura do elemento
    height: 90%; /*Altura do elemento*/
    background: #000000; /*Cor de fundo*/
    -webkit-transition: all .5s ease-out; /*Transição para suavizar movimentações*/
    -moz-transition: all .5s ease-out; /*Transição para suavizar movimentações*/
    transition: all .5s ease-out; /*Transição para suavizar movimentações*/
}
#title1 {
    padding: 1.3vw 0; /*Padding do elemento*/
    font-size: 2.5vw; /*Tamanho da fonte do elemento*/
    text-align: center; /*Alinha o texto no centro do elemento*/
    color: white; /*Cor do texto é branca*/
    font-family: 'Lovelo', sans-serif; /*Possíveis fontes*/
}
#galeria {
    background-image: url('../../img/personagens/texture.png'); /*Da um plano de fundo ao nosso elemento*/
    background-repeat: no-repeat; /*Imagem do background não repete*/
    height: 30vw; /*Altura do elemento*/
    width: 98.55%; /*Ajusta a largura*/
    background-color: black; /*Cor do fundo*/
    border: 0.5vw solid red; /*Configuração da borda*/
    border-top: 0; /*Borda do topo*/
    border-bottom: 0; /*Borda debaixo*/
    margin:0 auto; /*Margem do elemento*/
    width: 69%; /*Largura do elemento*/
}
#bloco{
    float: center; /*Coloca o elemento no centro (flutuando)*/
    margin: 0 auto; /*Margem do nosso elemento*/
    width: 75%; /*Ajusta a largura*/ 
    text-align: left; /*Alinha o texto a esquerda*/
}

#bloco li{
    width: 12%; /*Ajusta a largura*/
    height: 20vw; /*Altura do elemento*/
    padding: 0.5vw; /*Padding do elemento*/
    display: inline-block; /*Display em linha*/
    text-decoration: none; /*Texto sem estilização*/
    list-style: none; /*Tira o estilo padrão de listas*/
    transition-duration: 3s; /*Diração da transição para 3 segundos*/
}
li[class="icon"] {
    user-select: none; /*Não permite que o usuário selecione o elemento*/
    width: 2%; /*Ajusta a largura*/
}
.icone {
    color: white; /*Cor do texto é branca*/
    font-size: 2vw; /*Tamanho da fonte*/
}
.material-icons {
    display: unset; /*Adiciona um display fixo*/
}
#next, #before {
    background-color: transparent; /*Tira cores de fundo*/
    background-image: url('../../img/personagens/next.png'); /*Da um plano de fundo ao nosso elemento*/
    background-repeat: no-repeat; /*Imagem do background não repete*/
    background-size: 35%; /*Tamanho da imagem do background*/
    background-position: center; /*Posiciona a imagem de fundo ao centro*/
    margin: 0; /*Margem do elemento*/
}
#next:hover, #before:hover {
    background-image: url('../../img/personagens/next_red.png'); /*Da um plano de fundo ao nosso elemento*/
}
#before {
    transform: rotate(-180deg); /*Faz com que o elemento rode 180 graus*/
}
#desc {
    position: relative; /*Posição relativa ao elemento pai*/
    padding: 0 0 0 8%; /*Ajusta o padding de nosso elemento*/
    width: 40%; /*Ajusta a largura*/
    height: 100%; /*Altura do elemento*/
    float: left; /*Coloca ele a esquerda do elemento pai*/
}
#img {
    margin: 5% 0 25% 0; /*Margens do nosso elemento*/
    height: 80%; /*Altura do elemento*/
    position: relative; /*Posição relativa ao elemento pai*/
    width: 40%; /*Ajusta a largura*/
    float: right; /*Coloca ele a direita do elemento pai*/
    background-repeat: no-repeat; /*Imagem do background não repete*/
    background-position: center;
}
#desc h1 {
    display: block; /*Adiciona um display fixo ao elemento*/
    width: 100%; /*Ajusta a largura*/
    margin-top: 40%; /*Margem da parte de cima do elemento*/
    color: red; /*Cor do texto é vermelha*/
    font-family: 'Lovelo', sans-serif; /*Possíveis fontes*/
    font-size: 2.5vw; /*Tamanho da fonte*/
    text-align: center; /*Alinhamento do texto ao centro*/
    padding-bottom: 1vw; /*Padding da parte debaixo*/
}
#desc p {
    display: block; /*Adiciona um display fixo ao elemento*/
    width: 100%; /*Ajusta a largura*/
    color: white; /*Cor do texto é branca*/
    text-align: center; /*Alinhamento do texto ao centro*/
    font-family: 'Open sans'; /*Possíveis fontes*/
    font-size: 1.2vw; /*Tamanho da fonte*/
}

#personagem0{
    background-image: url('../../img/personagens/wallpaper/pcapitaoamerica2.png'); /*Da um plano de fundo ao nosso elemento*/
    background-repeat: no-repeat; /*Imagem do background não repete*/
    background-position: center; /*Posiciona a imagem de fundo ao centro*/
    background-size: cover; /*A imagem de fundo cobre o elemento*/
=======
    vertical-align: middle; /* centraliza verticalmente */
    height: 90%; /* altura */
    color: white; /* cor da fonte */
    top: 0; /* distancia do topo */
    bottom: 0; /* distancia do inferior */
    margin: 0; /* retira as margens */
}
#icone:hover {
    background-color: rgb(27, 27, 27); /* cor de fundo */
}
.shape-menor {
    background-repeat: no-repeat; /* faz com que o fundo do elemento não repita */
    background-position: center; /* centraliza o fundo do elemento */
    background-size: cover; /* faz com que o fundo do elemento se adapte e ocupe todo o espaço do elemento */
    margin-left: 5%; /* define a margem esquerda */
    position: relative; /* define a posição como relativa */
    top: 50%; /* distância do topo */
    transform: translateY(-50%); /* posiciona o elemento verticalmente */
    width: 90%; /* largura */
    height: 90%; /* altura */
    background: #000000; /* cor de fundo */
    -webkit-transition: all .5s ease-out; /* transição */
    -moz-transition: all .5s ease-out;/* transição */
    transition: all .5s ease-out;/* transição */
}
#title1 {
    padding: 1.3vw 0; /*define a borda interior*/
    font-size: 2.5vw;/*define o tamanho da fonte*/
    text-align: center; /*alinha o texto no centro*/
    color: white; /*define a cor do texto para branco*/
    font-family: 'Lovelo', sans-serif; /*define a fonte*/
}
#galeria {
    background-image: url('../../img/personagens/texture.png'); /*coloca como fundo uma imagem*/
    background-repeat: no-repeat;/*não permite o fundo se repetir*/
    height: 30vw;/*define a altura*/
    width: 98.55%;/*define a largura*/
    background-color: black; /*define a cor do fundo*/
    border: 0.5vw solid red;/*define a borda*/
    border-top: 0;/*define o tamanho da borda do topo*/
    border-bottom: 0;/*define o tamanho da borda inferior*/
    margin:0 auto;/*alinha para o centro o item selecionado*/
    width: 69%; /*define a largura do elemento*/
}
#bloco{
    float: center; /*deixa o item selecionado como flutuante no centro*/
    margin: 0 auto; /*alinha o item selecionado para o centro*/
    width: 75%; /*define a largura do elemento*/ 
    text-align: left; /*alinha o texto para a esquerda*/
}

#bloco li{
    width: 12%; /*define a largura do elemento*/
    height: 20vw; /*define a altura do elemento*/
    padding: 0.5vw; /*define a margem interior do elemento*/
    display: inline-block; /*define o display para um bloco em linha*/
    text-decoration: none;/*define a decoração do texto*/
    list-style: none;
    transition-duration: 3s; /*define a duração da transição*/
}
li[class="icon"] {
    user-select: none;
    width: 2%; /*define a largura do item selecionado*/
}
.icone {
    color: white; /*define a cor da fonte*/
    font-size: 2vw; /*define o tamanho da fonte*/
}
.material-icons {
    display: unset; /*retira os valores da propriedade display */
}
#next, #before {
    background-color: transparent; /* define a cor de fundo como transparente */
    background-image: url('../../img/personagens/next.png'); /* imagem de fundo do elemento */
    background-repeat: no-repeat; /* faz com que o fundo não repita */
    background-size: 35%; /* tamanho do fundo */
    background-position: center; /* posição do fundo */
    margin: 0; /* retira a margem */
}
#next:hover, #before:hover {
    background-image: url('../../img/personagens/next_red.png'); /* imagem de fundo */
}
#before {
    transform: rotate(-180deg) /* gira o elemtno 180 graus no sentido anti-horario */
}
#desc {
    position: relative; /* define a posição como relativa */
    padding: 0 0 0 8%; /* define a margem interna superior, da direita, inferior e da esquerda, respectivamente */
    width: 40%; /* largura */
    height: 100%; /* altura */
    float: left; /* faz com que o elemento flutue na esquerda */
}
#img {
    margin: 5% 0 25% 0; /* define a margem superior, da direita, inferior e da esquerda, respectivamente*/
    height: 80%; /* lergura */
    position: relative; /* define a posição como relativa */
    width: 50%; /* define a largura do elemento */
    float: right; /*deixa o elemento selecionado como flutuante para a direita*/
    background-repeat: no-repeat; /*não permite a repetição do fundo*/
    background-position: center;/*define a posição do fundo*/
}
#desc h1 {
    display: block; /* define o display como bloco */
    width: 100%; /* largura */
    margin-top: 40%; /*  margem do topo */
    color: red; /* cor da fonte */
    font-family: 'Lovelo', sans-serif; /* tipo da fonte */
    font-size: 2.5vw; /* tamanho da fonte */
    text-align: center; /* alinha o texto no centro */
    padding-bottom: 1vw; /* margem interna */
}
#desc p {
    display: block; /*define o display como bloco*/
    width: 100%; /*define a largura do elemento*/
    color: white; /*define a cor da letra*/
    text-align: center; /*alinha o texto para o centro*/
    font-family: 'Open sans'; /*define a fonte*/
    font-size: 1.2vw; /*define o tamanho da fonte*/
}

#personagem0{
    background-image: url('../../img/personagens/wallpaper/pcapitaoamerica2.png'); /* define a imagem de fundo */
    background-repeat: no-repeat; /* faz com que o fundo não repita */
    background-position: center; /*Posiciona a imagem de fundo ao centro*/
    background-size: cover; /* faz com que o fundo ocupe tode o elemento */
>>>>>>> 816b7e73d7d70f70272d274ee8e7d897dbe1f5bf
}
/* esses elementos não foram comentados, pois tem as mesmas propriedades do elemento #personagem0 */
#personagem1{
    background-image: url('../../img/personagens/wallpaper/pthor.png'); /*Da um plano de fundo ao nosso elemento*/
    background-repeat: no-repeat; /*Imagem do background não repete*/
    background-position: center; /*Posiciona a imagem de fundo ao centro*/
    background-size: cover; /*A imagem de fundo cobre o elemento*/
}
#personagem2{
    background-image: url('../../img/personagens/wallpaper/pha.png'); /*Da um plano de fundo ao nosso elemento*/
    background-repeat: no-repeat; /*Imagem do background não repete*/
    background-position: center; /*Posiciona a imagem de fundo ao centro*/
    background-size: cover; /*A imagem de fundo cobre o elemento*/
}
#personagem3{
    background-image: url('../../img/personagens/wallpaper/phf.png'); /*Da um plano de fundo ao nosso elemento*/
    background-repeat: no-repeat;
    background-position: center; /*Posiciona a imagem de fundo ao centro*/
    background-size: cover; /*A imagem de fundo cobre o elemento*/
}
#personagem4{
    background-image: url('../../img/personagens/wallpaper/ppantera.png'); /*Da um plano de fundo ao nosso elemento*/
    background-repeat: no-repeat; /*Imagem do background não repete*/
    background-position: center; /*Posiciona a imagem de fundo ao centro*/
    background-size: cover; /*A imagem de fundo cobre o elemento*/
}
#personagem5{
    background-image: url('../../img/personagens/wallpaper/pdrestranho.png'); /*Da um plano de fundo ao nosso elemento*/
    background-repeat: no-repeat; /*Imagem do background não repete*/
    background-position: center; /*Posiciona a imagem de fundo ao centro*/
    background-size: cover; /*A imagem de fundo cobre o elemento*/
}
#personagem6{
    background-image: url('../../img/personagens/wallpaper/phulk.png'); /*Da um plano de fundo ao nosso elemento*/
    background-repeat: no-repeat; /*Imagem do background não repete*/
    background-position: center; /*Posiciona a imagem de fundo ao centro*/
    background-size: cover; /*A imagem de fundo cobre o elemento*/
}
#personagem7{
    background-image: url('../../img/personagens/wallpaper/pviuva.png'); /*Da um plano de fundo ao nosso elemento*/
    background-repeat: no-repeat; /*Imagem do background não repete*/
    background-position: center; /*Posiciona a imagem de fundo ao centro*/
    background-size: cover; /*A imagem de fundo cobre o elemento*/
}
.personagem0 {
<<<<<<< HEAD
    background-image: url('../../img/personagens/wallpaper/pcapitaoamerica2.png'); /*Da um plano de fundo ao nosso elemento*/
    background-repeat: no-repeat; /*Imagem do background não repete*/
=======
    background-image: url('../../img/personagens/wallpaper/pca.png');
    background-repeat: no-repeat;
>>>>>>> 816b7e73d7d70f70272d274ee8e7d897dbe1f5bf
    background-position: center; /*Posiciona a imagem de fundo ao centro*/
}
.personagem1 {
    background-image: url('../../img/personagens/wallpaper/pthor.png'); /*Da um plano de fundo ao nosso elemento*/
    background-repeat: no-repeat; /*Imagem do background não repete*/
    background-position: center; /*Posiciona a imagem de fundo ao centro*/
    background-size: cover; /*A imagem de fundo cobre o elemento*/ 
}
.personagem2 {
    background-image: url('../../img/personagens/wallpaper/pha.png'); /*Da um plano de fundo ao nosso elemento*/
    background-repeat: no-repeat; /*Imagem do background não repete*/
    background-position: center; /*Posiciona a imagem de fundo ao centro*/
    background-size: cover; /*A imagem de fundo cobre o elemento*/
}
.personagem3 {
    background-image: url('../../img/personagens/wallpaper/phf.png'); /*Da um plano de fundo ao nosso elemento*/
    background-repeat: no-repeat; /*Imagem do background não repete*/
    background-position: center; /*Posiciona a imagem de fundo ao centro*/
    background-size: cover; /*A imagem de fundo cobre o elemento*/
}
.personagem4 {
    background-image: url('../../img/personagens/wallpaper/ppantera.png'); /*Da um plano de fundo ao nosso elemento*/
    background-repeat: no-repeat; /*Imagem do background não repete*/
    background-position: center; /*Posiciona a imagem de fundo ao centro*/
    background-size: cover; /*A imagem de fundo cobre o elemento*/
}
.personagem5 {
    background-image: url('../../img/personagens/wallpaper/pdrestranho.png'); /*Da um plano de fundo ao nosso elemento*/
    background-repeat: no-repeat; /*Imagem do background não repete*/
    background-position: center; /*Posiciona a imagem de fundo ao centro*/
    background-size: cover; /*A imagem de fundo cobre o elemento*/ 
}
.personagem6 {
    background-image: url('../../img/personagens/wallpaper/phulk.png'); /*Da um plano de fundo ao nosso elemento*/
    background-repeat: no-repeat; /*Imagem do background não repete*/
    background-position: center; /*Posiciona a imagem de fundo ao centro*/
    background-size: cover; /*A imagem de fundo cobre o elemento*/
}
.personagem7 {
    background-image: url('../../img/personagens/wallpaper/pviuva.png'); /*Da um plano de fundo ao nosso elemento*/
    background-repeat: no-repeat; /*Imagem do background não repete*/
    background-position: center; /*Posiciona a imagem de fundo ao centro*/
    background-size: cover; /*A imagem de fundo cobre o elemento*/
}
#acessibilidade {
<<<<<<< HEAD
    position: absolute; /*Posição relativa ao body*/
    z-index: 1000; /*Coloca ele na camada 1000*/
    margin-top: 45vh; /*Margem do topo*/
    right: 0; /*Distância da direita*/
}
#acessibilidade ul {
    position: fixed; /*Posição fixada na página, não move com o scroll*/
    right: 0vw;	/*Distância da direita*/
    padding: 0; /*Padding do nosso elemento*/
    margin: 0; /*Margem do nosso elemento*/
    overflow: hidden; /*Não permite o scroll*/
}
#acessibilidade ul li{
    background-color: white; /*Cor de fundo*/
    height: 5vh; /*Altura do elemento*/
    width: 4vw; /*Largura do elemento*/
    padding: 0.2vw 0.2vw; /*Padding do elemento*/
    width: 100%; /*Largura do elemento*/
    display: inline-block; /*Deixa a organização do elemento em linha*/
    font-size: 1.5vw; /*Tamanho da fonte*/
    text-align: center; /*Alinhamento do texto no centro*/
    font-family: 'Roboto', sans-serif; /*Possíveis fontes*/
}
#grande {
    border-top-left-radius: 15%; /*Arredondamento da borda de cima esquerda*/
    border-bottom: 0.1px solid black; /*Tamanho da borda debaixo*/
}
#pequeno {
    border-bottom-left-radius: 15%; /*Arredondamento da borda de baixo a esquerda*/
}
#menu ul{
    width: 100%; /*Largura do elemento*/
    margin-left: 0; /*Margem esquerda*/
    padding-left: 0; /*Padding esquerdo do nosso elemento*/
}
#menu ul li{
    width: 100%; /*Largura do elemento*/
    margin-left: 0; /*Margem esquerda*/
    padding-left: 0; /*Padding esquerdo do nosso elemento*/
}
@media screen and (max-width: 1344px) {
    #blocogrande {
        width: 100vw; /*Largura do elemento*/
    }
    #galeria {
        width: 100vw; /*Largura do elemento*/
=======
    position: absolute; /* define a posicao como absoluta */
    z-index: 1000; /* traz o elemento para frente */
    margin-top: 45vh; /* define a margem do topo */
    right: 0;/* define a distância para a lateral direita */
}
#acessibilidade ul { 
    position: fixed; /* define o elemento com fixo */
    right: 0vw;	/* define a distância para a lateral direita */	
    padding: 0; /* define a "margem interna" do elemento */
    margin: 0; /* define a margem externa do elemento */
    overflow: hidden /* remove as barras de rolagem */
}
#acessibilidade ul li{
    background-color: white; /* define a cor de fundo como branca */
    height: 5vh; /* define a altura do elemento */
    width: 4vw; /* define a largura dos elementos */
    padding: 0.2vw 0.2vw; /* margem interna do elemento */
    width: 100%; /* largura do elemento */
    display: inline-block; /* faz com que os elementos se alinhem verticalmente */
    font-size: 1.5vw; /* tamanho da fonte */
    text-align: center; /* texto alinhado ao centro */
    font-family: 'Roboto', sans-serif; /* tipo da fonte */
}
#grande {
    border-top-left-radius: 15%; /* define o arredondamento da borda esquerda superior */
    border-bottom: 0.1px solid black; /* defne a borda inferior como solida, com larrgura d */
}
#pequeno {
    border-bottom-left-radius: 15%;  /* define o arredondamento da borda esquerda inferior */
}
#menu ul{
    width: 100%; /* define a largura */
    margin-left: 0; /* margem esquerda externa */
    padding-left: 0; /* margem interna esquerda */
}
#menu ul li{
    width: 100%; /* largura */
    margin-left: 0; /* margem esquerda externa */
    padding-left: 0; /* margem interna esquerda */
}
/* esse é o slider que aparece em telas menores */
#notslider {
    border: 1vh solid red; /* define a borda com 1vh de espessura, e da cor vermelha */
    border-top: none; /* retira a borda do toppo */
    border-bottom: none; /* retira a borda de baixo */
    padding-top: 15vw; /* define a margem interna */
    height: 85vh; /* define a altura do elemento */
    background-color: rgb(0, 0, 0); /* define a cor de fundo */
    display: none; /* faz com que o elemento suma */
}
@media screen and (max-width: 1344px) {
    #blocogrande {
        width: 100vw; /* define a largura do elemento*/
    }
    #galeria {
        width: 100vw; /*define a largura do elemento*/
>>>>>>> 816b7e73d7d70f70272d274ee8e7d897dbe1f5bf
    }
}
@media screen and (max-width: 800px) { /* a partir de resoluções menores que 880px essas propriedades (abaixo) serão aplica */
    #notslider {
        display: block; /* faz com que o elemento suma */
    }
    body {
        overflow-y: hidden; /* retira a barra de rolagem */
    }
    #noticias {
        display: none; /* faz com que o elemento suma */
    }
    #bloco {
<<<<<<< HEAD
        width: 65%; /*Largura do elemento*/
=======
        width: 65%;   /* define a largura do elemento */
    }
    #galeria {
        height: 90vh; /* define a altura do elemento */
    }
    .personagem0, .personagem1,.personagem2, .personagem3, .personagem4, .personagem5, .personagem6, .personagem7 {
        width: 100%; /* define a largura dos elementos */
        height: 50vh; /* define a altura dos elementos */
        background-color: black; /* define a cor de fundo do elemento */
        margin: 0 auto; /* define a margem interna */
        padding-top: 15vw; /* define a margem externa */
    }
    #desc {
        width: 100%; /*define a largura do elemento*/
        padding: 0; /*define o tamanho da borda inferior*/
        height: 35vh; /*defien a altura do elemento*/
    }
    #desc h1 {
        font-size: 4vh; /*define o tamanho da fonte*/
        margin-top: 5%; /*define a margem do topo*/
    }
    #desc p {
        font-size: 2.5vh; /* tamanho da fonte */
        width: 85%; /*define a largura do elemento*/
        margin: 0 auto; /* centraliza o elemento */
    }
    .slick-next {
        display: none; /*deixa o elemento selecionado invisivel*/
>>>>>>> 816b7e73d7d70f70272d274ee8e7d897dbe1f5bf
    }
}
@media screen and (max-width: 500px) {/* a partir de resoluções menores que 50px essas propriedades (abaixo) serão aplica */
    #bloco {
<<<<<<< HEAD
        width: 55%; /*Largura do elemento*/
=======
        width: 55%;  /*define a largura do elemento*/
>>>>>>> 816b7e73d7d70f70272d274ee8e7d897dbe1f5bf
    }
    
}