@import url('http://fonts.cdnfonts.com/css/lovelo?styles=25962');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Condensed:wght@300&family=Roboto:wght@700&display=swap');
/* define a cor de fundo do body, define que o body não tera barra de rolagem, nem podera ser selecionado pelo usuário */
body {
    background-color: #181818;
    overflow-x: hidden;
    user-select: none;
    max-height: 50vw;
}
/* define margin 0 para todos elementos */
* {
    margin: 0;
}
/* traz a nav para camada mais da frente */
nav {
    z-index: 999;
}
/* define as noticias com uma posição absoluta, define a largura, altura, cor de fundo, margem do topo e que ela não terá barra de rolagem */
#noticias {
    position: absolute;
    width: 99vw;
    height: 50vw;
    background-color: #181818;
    margin-top: 15vh;
    overflow: hidden
}
/* define a posição da shape, a largura, a altura, a margem para ambos lados, a cor de fundo e a transição. */
.shape {
    top: 0;
    bottom: 0;
    width: 8vw;
    height: 8vw;
    margin: 1vw;
    background: #ff0000;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
/* define a forma desta classe. Deixa ela na forma que vemos no site. */
.shape.square.to-bevel, .shape-menor.square.to-bevel {
    -webkit-clip-path: polygon(0% 0%, 70% 0%, 100% 20%, 100% 100%, 80% 100%, 30% 100%, 0% 80%, 0% 0%);
    clip-path: polygon(0% 0%, 70% 0%, 100% 20%, 100% 100%, 80% 100%, 30% 100%, 0% 80%, 0% 0%);
}
/* centraliza este elemento, define sua cor de fundo, sua altura e largura. */
#blocogrande {
    margin: 0 auto;
    background-color: #090909;
    width: 70%;
    height: 20vw;
}
#dir, #esq {
    vertical-align: middle;
    height: 90%;
    color: white;
    top: 0;
    bottom: 0;
    margin: 0;
}
#icone:hover {
    background-color: rgb(27, 27, 27);
}
.shape-menor {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 5%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 90%;
    height: 90%;
    background: #000000;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
#title1 {
    padding: 1.3vw 0;
    font-size: 2.5vw;
    text-align: center;
    color: white;
    font-family: 'Lovelo', sans-serif;
}
#galeria {
    background-image: url('../../img/personagens/texture.png');
    background-repeat: no-repeat;
    height: 30vw;
    width: 98.55%;
    background-color: black;
    border: 0.5vw solid red;
    border-top: 0;
    border-bottom: 0;
    margin:0 auto;
    width: 69%;
}
#bloco{
    float: center;
    margin: 0 auto;
    width: 75%;
    text-align: left;
}

#bloco li{
    width: 12%;
    height: 20vw;
    padding: 0.5vw;
    display: inline-block;
    text-decoration: none;
    list-style: none;
    transition-duration: 3s;
}
li[class="icon"] {
    user-select: none;
    width: 2%;
}
.icone {
    color: white;
    font-size: 2vw;
}
.material-icons {
    display: unset;
}
#next, #before {
    background-color: transparent;
    background-image: url('../../img/personagens/next.png');
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: center;
    margin: 0;
}
#next:hover, #before:hover {
    background-image: url('../../img/personagens/next_red.png');
}
#before {
    transform: rotate(-180deg)
}
#desc {
    position: relative;
    padding: 0 0 0 8%;
    width: 40%;
    height: 100%;
    float: left;
}
#img {
    margin: 5% 0 25% 0;
    height: 80%;
    position: relative;
    width: 40%;
    float: right;
    background-repeat: no-repeat;
    background-position: center;
}
#desc h1 {
    display: block;
    width: 100%;
    margin-top: 40%;
    color: red;
    font-family: 'Lovelo', sans-serif;
    font-size: 2.5vw;
    text-align: center;
    padding-bottom: 1vw;
}
#desc p {
    display: block;
    width: 100%;
    color: white;
    text-align: center;
    font-family: 'Open sans';
    font-size: 1.2vw;
}

#personagem0{
    background-image: url('../../img/personagens/wallpaper/pcapitaoamerica2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#personagem1{
    background-image: url('../../img/personagens/wallpaper/pthor.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#personagem2{
    background-image: url('../../img/personagens/wallpaper/pha.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#personagem3{
    background-image: url('../../img/personagens/wallpaper/phf.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#personagem4{
    background-image: url('../../img/personagens/wallpaper/ppantera.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#personagem5{
    background-image: url('../../img/personagens/wallpaper/pdrestranho.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#personagem6{
    background-image: url('../../img/personagens/wallpaper/phulk.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#personagem7{
    background-image: url('../../img/personagens/wallpaper/pviuva.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.personagem0 {
    background-image: url('../../img/personagens/wallpaper/pcapitaoamerica2.png');
    background-repeat: no-repeat;
    background-position: center;
}
.personagem1 {
    background-image: url('../../img/personagens/wallpaper/pthor.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.personagem2 {
    background-image: url('../../img/personagens/wallpaper/pha.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.personagem3 {
    background-image: url('../../img/personagens/wallpaper/phf.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.personagem4 {
    background-image: url('../../img/personagens/wallpaper/ppantera.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.personagem5 {
    background-image: url('../../img/personagens/wallpaper/pdrestranho.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.personagem6 {
    background-image: url('../../img/personagens/wallpaper/phulk.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.personagem7 {
    background-image: url('../../img/personagens/wallpaper/pviuva.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: center;
}
#acessibilidade {
    position: absolute;
    z-index: 1000;
    margin-top: 45vh;
    right: 0;
}
#acessibilidade ul {
    position: fixed;
    right: 0vw;		
    padding: 0;
    margin: 0;
    overflow: hidden
}
#acessibilidade ul li{
    background-color: white;
    height: 5vh;
    width: 4vw;
    padding: 0.2vw 0.2vw;
    width: 100%;
    display: inline-block;
    font-size: 1.5vw;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
#grande {
    border-top-left-radius: 15%;
    border-bottom: 0.1px solid black;
}
#pequeno {
    border-bottom-left-radius: 15%;
}
#menu ul{
    width: 100%;
    margin-left: 0;
    padding-left: 0;
}
#menu ul li{
    width: 100%;
    margin-left: 0;
    padding-left: 0;
}
@media screen and (max-width: 1344px) {
    #blocogrande {
        width: 100vw;
    }
    #galeria {
        width: 100vw;
    }
}
@media screen and (max-width: 800px) {
    #bloco {
        width: 65%;   
    }
}
@media screen and (max-width: 500px) {
    #bloco {
        width: 55%;   
    }
    
}